[05/Oct/2014 03:44:05] "GET /projects/GreenCadres/documents/add/ HTTP/1.1" 200 5003
[05/Oct/2014 03:44:05] "GET /static/CACHE/css/main.4036a863ce24.css HTTP/1.1" 200 240033
[05/Oct/2014 03:44:06] "GET /api/metadata/documents/item_types/ HTTP/1.1" 200 1931

/Users/aviz/Desktop/Development/git/cendari-vre/lib/python2.7/site-packages/reversion/models.py:218: UserWarning: pre_save and post_save signals will not longer be sent for Revision and Version models in django-reversion 1.8. Please use the pre_revision_commit and post_revision_commit signals instead.
  warnings.warn("pre_save and post_save signals will not longer be sent for Revision and Version models in django-reversion 1.8. Please use the pre_revision_commit and post_revision_commit signals instead.")

[05/Oct/2014 03:47:01] "POST /api/projects/GreenCadres/documents/ HTTP/1.1" 201 312
[05/Oct/2014 03:47:02] "GET /projects/GreenCadres/documents/148/ HTTP/1.1" 200 7396
[05/Oct/2014 03:47:02] "GET /static/function/lib/seadragon/seadragon-min.js HTTP/1.1" 304 0
[05/Oct/2014 03:47:02] "GET /static/function/document.js HTTP/1.1" 304 0
[05/Oct/2014 03:47:02] "GET /static/CACHE/css/main.00bc1ff115e0.css HTTP/1.1" 200 240033


============================

<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en"><head>

    

    <title>Editors' Notes: Green Cadres</title>

    

    <link rel="stylesheet" href="/static/CACHE/css/main.4036a863ce24.css" type="text/css"><link rel="stylesheet" href="/static/style/font-awesome/font-awesome.css" type="text/css"><link rel="stylesheet" href="/static/style/openwebicons/css/openwebicons-bootstrap.css" type="text/css"><link rel="stylesheet" href="/static/style/bootstrap-custom.css" type="text/css">

    
    

      <script type="text/javascript">
        var EditorsNotes = {}

        
          EditorsNotes.loggedInUser = 'evanthia.dimara@gmail.com';
        
      </script><style type="text/css"></style>

    <script type="text/javascript" src="/static/base-libs.js"></script>
<script type="text/javascript" src="/static/base-bundle.js"></script>

    
    <script type="text/javascript" src="/static/function/lib/citeproc-js/xmldom.js"></script>
<script type="text/javascript" src="/static/function/lib/citeproc-js/citeproc.js"></script>
<script type="text/javascript" src="/static/admin-libs.js"></script>
<script type="text/javascript" src="/static/admin-bundle.js"></script>
    

    <script type="text/javascript" src="https://login.persona.org/include.js"></script>
    <script type="text/javascript" src="/static/function/lib/browserid.js"></script>

    <script type="text/javascript">
EditorsNotes.bootstrap = null;
</script>
    

  <style>[touch-action="none"]{ -ms-touch-action: none; touch-action: none; }[touch-action="pan-x"]{ -ms-touch-action: pan-x; touch-action: pan-x; }[touch-action="pan-y"]{ -ms-touch-action: pan-y; touch-action: pan-y; }[touch-action="scroll"],[touch-action="pan-x pan-y"],[touch-action="pan-y pan-x"]{ -ms-touch-action: pan-x pan-y; touch-action: pan-x pan-y; }</style><style id="style-1-cropbar-clipper">/* Copyright 2014 Evernote Corporation. All rights reserved. */
.en-markup-crop-options {
    top: 18px !important;
    left: 50% !important;
    margin-left: -90px !important;
    width: 180px !important;
    border: 2px rgba(255,255,255,.38) solid !important;
    border-radius: 4px !important;
}

.en-markup-crop-options div div:first-of-type {
    margin-left: 0px !important;
}
</style><style type="text/css"></style><style type="text/css"></style></head>
  
  <body class="wysihtml5-supported">
    <div class="main-wrapper">
      <div class="navbar">
        <div class="navbar-inner">
          <div class="container">
            <ul class="nav">
              <li><a class="brand" href="/">Editors' Notes</a></li>
              <li class="divider-vertical"></li>
              <li><a href="/browse/">Browse</a></li>
              <li><a href="/about/">About</a></li>
              <li class="divider-vertical"></li>
              <form class="navbar-search" action="/search/" method="get">
                <span role="status" aria-live="polite" class="ui-helper-hidden-accessible"></span><input type="text" class="search-query search-autocomplete ui-autocomplete-input" name="q" x-search-target="topics" placeholder="Search" autocomplete="off">
              </form> 
              </ul>

              
              
              
              <input type="hidden" id="logged-in-user-email" value="evanthia.dimara@gmail.com">
              
              <ul class="nav pull-right">
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    anthi
                    <b class="caret"></b>
                  </a>
                  <ul class="dropdown-menu">
                    <li><a href="/user/anthi/">My profile</a></li>
                    <li><a href="/accounts/logout/">Log out</a></li>
                  </ul>
                </li>
                <li>
                <div class="btn-group">
                  <a href="#" class="btn dropdown-toggle" data-toggle="dropdown">
                    <i class="fa fa-pencil"></i>
                    <b class="caret"></b>
                  </a>
                  <ul class="dropdown-menu" style="right: 0; left: auto;">
                    
                    
                    <li class="divider"></li>
                    <li><a href="/projects/GreenCadres/notes/add/">Add note</a></li>
                    <li><a href="/projects/GreenCadres/topics/add/">Add topic</a></li>
                    <li><a href="/projects/GreenCadres/documents/add/">Add document</a></li>
                    
                    <li class="divider"></li>
                    <li><a href="/projects/ww1/notes/add/">Add note</a></li>
                    <li><a href="/projects/ww1/topics/add/">Add topic</a></li>
                    <li><a href="/projects/ww1/documents/add/">Add document</a></li>
                    
                    
                    <li><a href="/projects/Anthi/notes/add/">Add note</a></li>
                    <li><a href="/projects/Anthi/topics/add/">Add topic</a></li>
                    <li><a href="/projects/Anthi/documents/add/">Add document</a></li>
                    
                  </ul>
                </div>
                </li>
              </ul>
              
              
            </div>
          </div>
        </div>

        

        <div id="main-wrap" class="container">
          <ul class="breadcrumb-top">
  
    
    <li>
      <a href="/cendari/projects/1/">Green Cadres</a>
      <span class="divider">&gt;</span>
    </li>
    
  
    
    <li>
      <a href="/projects/GreenCadres/documents/">Documents</a>
      <span class="divider">&gt;</span>
    </li>
    
  
    
    <li class="active">Add</li>
    
  
</ul>

          <div id="main"><div class="edit-section">
  <h3>
    Printed citation 
    <a href="#" data-toggle="tooltip" title="The textual representation of this document. This field will be generated automatically from this item's metadata unless you edit it manually.">
      <i class="fa fa-question-circle"></i>
    </a>
  </h3>
  <div data-error-target="description"></div>
  <div id="document-citation">
    <div>
      <div id="printed-citation" style="display: none;"></div>
    <div id="texteditor_id_auto11-toolbar" class="btn-toolbar wysihtml5-toolbar">
  <div class="btn-group">
    <a class="btn" data-wysihtml5-command="bold" href="javascript:;" unselectable="on">
      <i class="fa fa-bold"></i>
    </a>
    <a class="btn" data-wysihtml5-command="italic" href="javascript:;" unselectable="on">
      <i class="fa fa-italic"></i>
    </a>
  </div>
  

</div><textarea id="texteditor_id_auto11" style="opacity: 0; height: 50px; width: 99%; display: none;"></textarea><iframe class="wysihtml5-sandbox" security="restricted" allowtransparency="true" frameborder="0" width="0" height="0" marginwidth="0" marginheight="0" style="border-collapse: separate; border: 0.800000011920929px solid rgb(204, 204, 204); clear: none; display: inline-block; float: none; margin: 0px 0px 9px; outline: rgb(85, 85, 85) none 0px; outline-offset: 0px; padding: 4px 6px; position: static; top: auto; left: auto; right: auto; bottom: auto; z-index: 0; vertical-align: middle; text-align: start; box-sizing: content-box; -webkit-box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px 0px inset; box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px 0px inset; border-top-right-radius: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px; border-top-left-radius: 4px; width: 99%; height: 50px; background-color: rgb(255, 255, 255);"></iframe></div>
    <div style="margin-top: 12px;"><button class="btn js-generate-citation">Generate from metadata</button></div>
  </div>
</div>

<div class="edit-section" id="document-zotero-data">
  <h3>Metadata</h3>
<div><div class="row">
  <div class="span4">
    <h5>All item types</h5>
    <select class="item-type-select">
      
      <option value="artwork">Artwork</option>
      
      <option value="audioRecording">Audio Recording</option>
      
      <option value="bill">Bill</option>
      
      <option value="blogPost">Blog Post</option>
      
      <option value="book">Book</option>
      
      <option value="bookSection">Book Section</option>
      
      <option value="case">Case</option>
      
      <option value="computerProgram">Computer Program</option>
      
      <option value="conferencePaper">Conference Paper</option>
      
      <option value="dictionaryEntry">Dictionary Entry</option>
      
      <option value="document">Document</option>
      
      <option value="email">E-mail</option>
      
      <option value="encyclopediaArticle">Encyclopedia Article</option>
      
      <option value="film">Film</option>
      
      <option value="forumPost">Forum Post</option>
      
      <option value="hearing">Hearing</option>
      
      <option value="instantMessage">Instant Message</option>
      
      <option value="interview">Interview</option>
      
      <option value="journalArticle">Journal Article</option>
      
      <option value="letter">Letter</option>
      
      <option value="magazineArticle">Magazine Article</option>
      
      <option value="manuscript">Manuscript</option>
      
      <option value="map">Map</option>
      
      <option value="newspaperArticle">Newspaper Article</option>
      
      <option value="note">Note</option>
      
      <option value="patent">Patent</option>
      
      <option value="podcast">Podcast</option>
      
      <option value="presentation">Presentation</option>
      
      <option value="radioBroadcast">Radio Broadcast</option>
      
      <option value="report">Report</option>
      
      <option value="statute">Statute</option>
      
      <option value="tvBroadcast">TV Broadcast</option>
      
      <option value="thesis">Thesis</option>
      
      <option value="videoRecording">Video Recording</option>
      
      <option value="webpage">Web Page</option>
      
    </select>
  </div>
  <div class="span8">
    <h5>Common item types</h5>

    
    <ul class="unstyled common-item-types">
      
    </ul>
    
  </div>
</div>
</div></div>

<div class="edit-section" id="document-related-topics">
  <h3>Related topics</h3>
<div class="related-topics-widget"><span role="status" aria-live="polite" class="ui-helper-hidden-accessible"></span><input style="width: 350px;" type="text" class="topic-autocomplete ui-autocomplete-input" placeholder="Begin typing to search for topics." autocomplete="off">
<a class="add-new-object" href="#"><i class="fa fa-plus-circle"></i></a><div class="related-topics-list"></div></div></div>

<div class="edit-section" id="document-scans"></div>
<div class="save-row">
  
  <button class="save-item">Save</button>
  <img class="loader" style="display: none;" src="/static/style/icons/ajax-loader.gif">
</div>
</div>
          <div class="push"></div>
        </div>

      </div>

      
      <div class="footer">
        <div class="footer-inner container">
          
        </div>
      </div>

      <input type="hidden" name="csrfmiddlewaretoken" value="xpe0lPQY07d5k9aYZHSxoVJV7GKkPZ3U">

    

<ul class="ui-autocomplete ui-front ui-menu ui-widget ui-widget-content ui-corner-all" id="ui-id-1" tabindex="0" style="display: none;"></ul><div class="feedback-prompt"><span class="feedback-label">Feedback</span><i class="fa fa-plus"></i></div><ul class="ui-autocomplete ui-front ui-menu ui-widget ui-widget-content ui-corner-all" id="ui-id-2" tabindex="0" style="display: none;"></ul><iframe src="https://login.persona.org/communication_iframe" style="display: none;"></iframe></body></html>