{% extends 'emptylayout.html' %}

{% load staticfiles display sort jsondumps notzero todate %}

{% block css_nocompress %}
<link rel="stylesheet" href="{% static "bootstrap/css/bootstrap.min.css" %}">
<link rel="stylesheet" href="{% static "jquery-ui-1.8.18.custom/jquery-ui-1.8.18.custom.css" %}">
<link rel="stylesheet" href="{% static "cendari/css/facetview.css" %}">
<link rel='stylesheet' href='//cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.css' />
<style type="text/css">
  .container {
      height: 1%;
  }

  .hasDatepicker {
      width: 85px;
  }

  dd {
      font-size: small;
  }

  .leftpanel {
      float: left;
      padding: 5px;
      width: 200px;
      border: 1px solid black;
  }
  .mainpanel {
      padding: 5px;
      margin-left: 210px;
  }
  .highlighted {
    background: #faa732;
    padding: 2px;
  }
  .searchresult > a * {
    display: inline;
  }
  .searchresult {
    margin-bottom: .75em;
  }

.panel {
  font-size: 10pt;
  line-height: 15pt;
  padding: 5px 0px;
  margin: 5px 10px;
  border-top: 1px solid steelblue;
  display: inline-block;
  position: relative;
  text-align: left;
  font-family: corbel,verdana,sans-serif;
  min-width: 300px;
  min-height: 50px;
  width: 100%;
}

.panel .panelVis{
  display: inline-block;
}

.map{
  height:200px;
}

.map .mark .timeline{
  stroke: none;
  fillOpacity: 1;
  fill: true;
}

.leaflet-container {
    background: #fff;
}

.timeline{
  height: 75px;
}

.timeline > svg {
  font: 6px sans-serif;
}

.bar rect {
  fill: steelblue;
  shape-rendering: crispEdges;
}

.bg {
  fill: white;
}


.bar text {
  fill: #fff;
}

.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

rect.zoompane {
  cursor: move;
  fill: none;
  pointer-events: all;
}
</style>
{% endblock css_nocompress %}

{% block js_nocompress %}
<script src='//cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.js'></script>
<script type="text/javascript" src="{% static "function/jquery/jquery-1.8.2.min.js" %}"></script>
<script src='{% static 'function/d3/d3.v3.min.js' %}'></script>
<script type="text/javascript" src="{% static "bootstrap/js/bootstrap.js" %}"></script>
<script type="text/javascript" src="{% static "jquery-ui-1.8.18.custom/jquery-ui-1.8.18.custom.min.js" %}"></script>
<script type="text/javascript" src="{% static "cendari/js/latlon-geohash.js" %}"></script>
<script type="text/javascript" src="{% static "cendari/js/cendarisearch.js" %}"></script>


<script type="text/javascript">
{% autoescape off %}  
  function next_page(event) {
      event.preventDefault();
      var url = document.location.href;
      url = url.replace(/[&]from=[^&]*/, "");
      {% if sizes.last < sizes.total %}
      url = url + '&from='+Math.min({{sizes.total}}-{{sizes.size}}+1,{{sizes.from}}+{{sizes.size}});
      {%endif%}
      document.location.assign(url);
  }

  function prev_page(event) {
      event.preventDefault();
      var url = document.location.href;
      url = url.replace(/[&]from=[^&]*/, "");
      {% if sizes.from > 0 %}
      url = url + '&from='+Math.max(0,{{sizes.from}}-{{sizes.size}});
      {%endif%}
      document.location.assign(url);
  }
{% endautoescape %}
</script>

{% endblock js_nocompress %}

{% block nolayout_content %}


<div class="navbar">
    <div class="navbar-inner">
      <div class="container">
        <ul class="nav">
          <li><a class="brand" href="{% url 'index_view' %}"><img src="{% static "img/cendari_logo.png" %}" height="50" width="200" border="5"/></a> </li>
          <li class="divider-vertical"></li>
          <li><a href="{% url 'index_view' %}">Home</a></li>
          <li><a href="{% url 'cendari_browse_view' %}">Browse</a></li>
          <li><a href="{% url 'cendari_about_view' %}">About</a></li>
          <li><a target="_blank" href="https://archives.cendari.dariah.eu/">AtoM</a></li>

          {% if user.is_superuser %}
            <li><a href="https://dev.dariah.eu/jira/browse/CVRE" target="_blank">Issue Report</a></li>
          {% elif user.is_staff %}
            <li><a href="https://dev.dariah.eu/jira/secure/CreateIssue.jspa?pid=10900&issuetype=1" target="_blank">Issue Report</a></li>
          {% else %}
            <li><a href="" id='issueCollector'>Issue Report</a></li>
          {% endif %}
            <li><a href="https://docs.google.com/forms/d/1LgNR3GLfMmql2acSryzVQRGPjEBmr6ZfvsVJZ8xX9QI/viewform" target="_blank">Survey</a></li>
            <li class="divider-vertical"></li>
            {% if p_slug %}
              <form class="navbar-search" action="{% url "cendari_faceted_search_view" project_slug=p_slug %}" method="get">
            {% else %}
              <form class="navbar-search" action="{% url "cendari_faceted_search_view" %}" method="get">
            {%endif%}
              <input type="text" class="search-query search-autocomplete" name="q" x-search-target="topics" placeholder="Search" />
            </form> 
        </ul>

        <!--<button id="submitButtonCendari" onclick="submitCendariForm()"  value=""></button>
        <script type="text/javascript" src="{% static "cendari/js/editor.js" %}"></script> -->

        {% with user=request.user %}
          {% if user.is_authenticated %}
            {% if user.email %}
              <input type="hidden" id="logged-in-user-email" value="{{ user.email }}" />
            {% endif %}
            <ul class="nav pull-right">
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                {{ user.display_name }}
                 <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <li><a href="{{ user.get_absolute_url }}">My profile</a></li>
                  <li><a {% if browserid_authenticated %}class="browserid-logout" {% endif %}href="{% url "user_logout_view" %}">Log out</a></li>
                </ul>
              </li>
          </ul>
          {% else %}
            <ul class="nav pull-right">
              <li><a href="{% url 'django.contrib.auth.views.login' %}{% if request.path|length > 1 %}?return_to={{ request.path }}{% endif %}">Log in</a></li>
              </ul>
          {% endif %}
        {% endwith %}
      </div>
    </div>
  </div>


<form id ='facetedSearchForm' method="get" action=".">
  <p>
    <input id="searchText" type="text" name="q" value="{{ query }}">
    <input id="searchSubmit" type="submit" value="Search">
    <input type="hidden" id="project_slug" name="project_slug" value="">
    <br>Include TRAME <input id='trameCheckbox' type="checkbox" name="TRAME" value= "TRAME"> 
    <br>Limit search to current project  <input id='currentProjectCheckbox' type="checkbox" name="currentProject" value= "currentProject"> 
  </p>

<!-- Begin faceting. -->
<div style="clear:both;" class="btn-toolbar" id="facetview_selectedfilters">
</div>
<div class="leftpanel facetpane">
  <h2>Facets (<a href="?q=">reset</a>)</h2>
  <hr>
  {% for facet, values in facets|sortiter %}
  <table id="facetview_{{facet}}" class="facetview_filters table table-bordered table-condensed table-striped" >
    <tr><td>
    {% if values %}
      {% if facet in selected_facets %}
     <a class="facetview_filtershow" title="filter by {{ facet}}" rel="{{facet }}" style="color:#999; font-weight:bold;" href=""><i class="icon-plus"></i> {{ facet|capfirst }} ({{ values.value_count }})</a>
      {% else %}
     <a class="facetview_filtershow" title="filter by {{ facet}}" rel="{{facet }}" style="color:#333; font-weight:bold;" href=""><i class="icon-plus"></i> {{ facet|capfirst }} ({{ values.value_count }})</a>
      {% endif %}
    {% else %}
     <a class="facetview_filtershow facetview_novalues" title="filter by {{ facet}}" rel="{{facet }}" style="color:#999; font-weight:bold;" href=""><i class="icon-plus"></i> {{ facet|capfirst }}</a>
    {% endif %}
    {% if facet == "location" %}
        <div class="btn-group facetview_locationfilteroptions" style="margin-top:5px;">
          <a class="btn btn-small facetview_learnmore" title="click to view search help information" href="#"><b>?</b></a> 
          <a class="btn btn-small facetview_filterlocation" title="filter location" rel="{{facet}}" href="filter_location">Filter</a>
          <a class="btn btn-small facetview_adaptresolution" title="adapt viewport" rel="{{facet}}" href="adapt_to_viewport">Adapt</a>
          <a class="btn btn-small facetview_resetlocation" title="reset location filter" href="no_location_filter">Reset</a>
	</div>
	<div class="panelVis map" style="min-height: 30px; min-width: 170px; width: 170px; position: relative;">
	</div>
	{% autoescape off %}
	<script>
    	  var map_data = {{values.buckets|json}}, 
	  map = d3.select('.map');
	  buildMap(map_data, map);
	</script>
	{% endautoescape %}
    </td></tr>
    {% elif facet == "date" %}
        <div class="btn-group facetview_datefilteroptions" style="margin-top:5px;">
          <a class="btn btn-small facetview_learnmore" title="click to view search help information" href="#"><b>?</b></a> 
          <a class="btn btn-small facetview_filterdate" title="filter date" rel="{{facet}}" href="filter_date">Filter</a>
          <a class="btn btn-small facetview_resetdate" title="reset date filter" href="no_location_filter">Reset</a>
	</div>
	{% if values.bounds.0 %}
	<input type="text" id="min_date" name="min_date" value="{{values.bounds.0|todate}}">
	<input type="text" id="max_date" name="max_date" value="{{values.bounds.1|todate}}">
	<div class="panelVis timeline" style="min-height: 30px; min-width: 170px; width: 170px; position: relative;">
	</div>
	{% autoescape off %}
	<script>
    	  var date_data = {{values.buckets|json}}, 
	      date_range = {{values.bounds|json}},
	      timeline = d3.select('.timeline');
	  buildTimeline(date_data, date_range, timeline);
	  $(function() {
	      $( "#min_date" ).datepicker(datepicker_options);
	      $( "#max_date" ).datepicker(datepicker_options);
	  });
	  date_range = 0; // otherwise, the next queries will specify dates
	</script>
	{% endautoescape %}
	{% endif %}
    </td></tr>
    {% else %}
        <div class="btn-group facetview_filteroptions" style="display:none; margin-top:5px;">
          <a class="btn btn-small facetview_learnmore" title="click to view search help information" href="#"><b>?</b></a> 
          <a class="btn btn-small facetview_morefacetvals" title="filter list size" rel="{{facet}}" href="show_facets={{facet}}:100">100</a>
          <a class="btn btn-small facetview_sort {{facet}}" title="filter value order" href="{{facet}}">Sort</a>
	</div>
    </td></tr>
    {% for value in values.buckets %}
    <tr class="facetview_filtervalue" style="display:none;">
      <td><a class="facetview_filterchoice facetview_toggle" rel="{{ facet }}" href="selected_facets={{ facet }}:{{ value.key }}">{{ value.key }} {{value.doc_count|notzero}}</a></td>
    </tr>
    {% endfor %}
    {% endif %}
  </table>
  {% endfor %}
</div>
<!-- End faceting -->

<div class="mainpanel">
  <h2>{{sizes.total}} Results
{% if sizes.size < sizes.total %}
    ({{sizes.page}}/{{sizes.pages}})
    {% if sizes.from > 0 %}
    <a class="btn btn-small prev_page" title="Previous Page" href="prev">Prev</a>
    {% endif %}
    {% if sizes.last < sizes.total %}
    <a class="btn btn-small next_page" title="Next Page" href="prev">Next</a>
    {% endif %}
{% endif %}
</h2>
  <dl>
    {% for document in results %}
    <dt><a href="{{ document.uri }}">{{ document.uri }}</a></dt>
    <dd>
{% autoescape off %}  
      {% for h in document.highlight %}
      {{ h }}<br>
      {% endfor %}
{% endautoescape %}
    </dd>
    {% endfor %}
  </ol>
{% if sizes.size < sizes.total %}
  <h2>
    {% if sizes.from > 0 %}
    <a class="btn btn-small prev_page" title="Previous Page" href="prev">Prev</a>
    {% endif %}
    {% if sizes.last < sizes.total %}
    <a class="btn btn-small next_page" title="Next Page" href="prev">Next</a>
    {% endif %}
  </h2>
{% endif %}
  
  <div id='trameresults'>
  </div>

</div>

<script type="text/javascript">

  function getQueryParams(qs) {
    qs = qs.split('+').join(' ');

    var params = {},
        tokens,
        re = /[?&]?([^=]+)=([^&]*)/g;

    while (tokens = re.exec(qs)) {
      params[decodeURIComponent(tokens[1])] = decodeURIComponent(tokens[2]);
    }

    return params;
  }

  function makeList(jsonData){
    ul = document.createElement('ul');
    for(i=0;i<jsonData.length;i++){
      var li = document.createElement('li');
      var a = document.createElement('a');

      a.target="_blank";
      a.href = jsonData[i].url;
      a.innerHTML = jsonData[i].titolo;

      li.appendChild(a);
      ul.appendChild(li)
    }
    return ul
  }

  bind_faceted_widgets();
  $('.next_page').click(next_page);
  $('.prev_page').click(prev_page);

  $(document).ready(function(){
    var query = getQueryParams(document.location.search);


    if(query.hasOwnProperty('project_slug')){
      $('#project_slug').val(query['project_slug']);
    }
    if(query.hasOwnProperty('currentProject')){
      $('#currentProjectCheckbox').prop("checked","true");
    }
    $('#currentProjectCheckbox').change(function() {
      if($(this).is(":checked")) {
        $('#facetedSearchForm').attr('action','http://'+location.host+'/cendari/'+$('#project_slug').val()+'/faceted/')
      }
      else{
        $('#facetedSearchForm').attr('action','http://'+location.host+'/cendari/faceted/')
      }
    })

    if(query.hasOwnProperty('TRAME')){
      var trame_query = "{% url 'trame_search_view' %}?q="+query['q']
      // var iframe_src = "http://trame.fefonlus.it/trame/index.php?op=search&Field0="+query['q']+"&Field6_loc=&Field6_lib=&Field6_hold=&Field6_shelf=&Field4=&Field41=&Field42=&Field5=&Field7=&Field2=&Field1=&Field3=&Field6=&dbs=90|82|83|87|2|19|89|91|92|58|88|17|84|85|57|86|48|1&maxnum=10"

      $.ajax({
        url:trame_query,
        dataType: "json",
        beforeSend: function() {
          // setting a timeout
          h2 = document.createElement('h2')
          h2.innerHTML = 'Loading TRAME results';
          $('#trameresults').append(h2);
        },
        success: function(data){
          h2 = document.createElement('h2')
          h2.innerHTML = 'TRAME Results:'
         
          
          var ul = document.createElement('ul');

          var li_127 = document.createElement('li');
          var ul_127 = makeList(data.site_127);
          var a_127  = document.createElement('a');
          var h3_127 = document.createElement('h3');
          a_127.target = "_blank"
          a_127.href ="http://brbl-dl.library.yale.edu/";
          a_127.innerHTML="Beinecke Digital Collections";
          h3_127.appendChild(a_127)
          li_127.appendChild(h3_127);
          li_127.appendChild(ul_127);


          var li_129 = document.createElement('li');
          var ul_129 = makeList(data.site_129);
          var a_129  = document.createElement('a');
          var h3_129 = document.createElement('h3');
          a_129.target = "_blank"
          a_129.href ="http://dc.lib.unc.edu/cdm/search/collection/mackinney/";
          a_129.innerHTML="MacKinney Collection of Medieval Medical Illustrations";
          h3_129.appendChild(a_129);
          li_129.appendChild(h3_129);
          li_129.appendChild(ul_129);

          ul.appendChild(li_127)
          ul.appendChild(li_129)

          $('#trameresults').empty().append(h2).append(ul)
        },
        error: function(xhr){
          h2 = document.createElement('h2')
          h2.innerHTML = 'Apologies, something went wrong with Trame'
          $('#trameresults').empty().append(h2)
          console.log("xhr status text",xhr.statusText)
          console.log("xhr response text",xhr.responseText)
        }
      })
      // .done()
      // .fail(function(){
        
      // })


      $('#trameCheckbox').prop("checked","true");
      console.log("TRAMMMEEEEE");
      // $('#trameIframe').attr('src',iframe_src)
    }
    $("#searchText").val(query['q'])
  });
</script>
</form>
{% endblock nolayout_content %}
