{% extends 'emptylayout.html' %}

{% load staticfiles display sort jsondumps notzero todate %}

{% block css_nocompress %}
<link rel="stylesheet" href="{% static "bootstrap/css/bootstrap.min.css" %}">
<link rel="stylesheet" href="{% static "jquery-ui-1.8.18.custom/jquery-ui-1.8.18.custom.css" %}">
<link rel="stylesheet" href="{% static "cendari/css/facetview.css" %}">
<link rel="stylesheet" href="{% static "cendari/css/toastr.min.css" %}">
<link rel='stylesheet' href='//cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.css' />
<style type="text/css">
  .container {
      height: 1%;
  }

  .hasDatepicker {
      width: 85px;
  }

  dd {
      font-size: small;
  }

  .leftpanel {
      float: left;
      padding: 5px;
      width: 200px;
      border: 1px solid black;
  }
  .mainpanel {
      padding: 5px;
      margin-left: 210px;
  }
  .highlighted {
    background: #faa732;
    padding: 2px;
  }

  .chk-with-label {
      padding: 3px 5px 3px 5px;
      border: 1px solid black;
  }

  #searchText {
      height: 25px;
      font-size: 15pt;
      width: 200px;
      box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.075) inset;
  }
  #searchSubmit {
      height: 25px;
      font-size: 15pt;
  }
  .searchresult > a * {
    display: inline;
  }
  .searchresult {
    margin-bottom: .75em;
  }

.panel {
  font-size: 10pt;
  line-height: 15pt;
  padding: 5px 0px;
  margin: 5px 10px;
  border-top: 1px solid steelblue;
  display: inline-block;
  position: relative;
  text-align: left;
  font-family: corbel,verdana,sans-serif;
  min-width: 300px;
  min-height: 50px;
  width: 100%;
}

.panel .panelVis{
  display: inline-block;
}

.map{
  height:200px;
}

.map .mark .timeline{
  stroke: none;
  fillOpacity: 1;
  fill: true;
}

.leaflet-container {
    background: #fff;
}

.timeline{
  height: 75px;
}

.timeline > svg {
  font: 6px sans-serif;
}

.bar rect {
  fill: steelblue;
  shape-rendering: crispEdges;
}

.bg {
  fill: white;
}


.bar text {
  fill: #fff;
}

.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

rect.zoompane {
  cursor: move;
  fill: none;
  pointer-events: all;
}
</style>
{% endblock css_nocompress %}

{% block js_nocompress %}
<script src='//cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.js'></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.5.3/clipboard.min.js"></script>
<script type="text/javascript" src="{% static "function/jquery/jquery-1.8.2.min.js" %}"></script>
<script src='{% static 'function/d3/d3.v3.min.js' %}'></script>
<script type="text/javascript" src="{% static "bootstrap/js/bootstrap.js" %}"></script>
<script type="text/javascript" src="{% static "jquery-ui-1.8.18.custom/jquery-ui-1.8.18.custom.min.js" %}"></script>
<script type="text/javascript" src="{% static "cendari/js/toastr.min.js" %}"></script>
<script type="text/javascript" src="{% static "cendari/js/cendarimsg.js" %}"></script>
<script type="text/javascript" src="{% static "cendari/js/latlon-geohash.js" %}"></script>
<script type="text/javascript" src="{% static "cendari/js/cendarisearch.js" %}"></script>


<script type="text/javascript">
{% autoescape off %}  
  function next_page(event) {
      event.preventDefault();
      var url = document.location.href;
      url = url.replace(/[&]from=[^&]*/, "");
      {% if sizes.last < sizes.total %}
      url = url + '&from='+Math.min({{sizes.total}}-{{sizes.size}}+1,{{sizes.from}}+{{sizes.size}});
      {%endif%}
      document.location.assign(url);
  }

  function prev_page(event) {
      event.preventDefault();
      var url = document.location.href;
      url = url.replace(/[&]from=[^&]*/, "");
      {% if sizes.from > 0 %}
      url = url + '&from='+Math.max(0,{{sizes.from}}-{{sizes.size}});
      {%endif%}
      document.location.assign(url);
  }

    var date_range = null;

{% endautoescape %}
</script>

{% endblock js_nocompress %}

{% block nolayout_content %}


<div class="navbar">
    <div class="navbar-inner">
      <div class="container">
        <ul class="nav">
          <li><a class="brand" href="{% url 'index_view' %}"><img src="{% static "img/cendari_logo.png" %}" height="50" width="200" border="5"/></a> </li>
          <li class="divider-vertical"></li>
          <li><a href="{% url 'index_view' %}">Home</a></li>
          <li><a href="{% url 'cendari_browse_view' %}">Browse</a></li>
          <li><a href="{% url 'cendari_about_view' %}">About</a></li>
          <li><a target="_blank" href="https://archives.cendari.dariah.eu/">AtoM</a></li>

          {% if user.is_superuser %}
            <li><a href="https://dev.dariah.eu/jira/browse/CVRE" target="_blank">Issue Report</a></li>
          {% elif user.is_staff %}
            <li><a href="https://dev.dariah.eu/jira/secure/CreateIssue.jspa?pid=10900&issuetype=1" target="_blank">Issue Report</a></li>
          {% else %}
            <li><a href="" id='issueCollector'>Issue Report</a></li>
          {% endif %}
            <li><a href="https://docs.google.com/forms/d/1LgNR3GLfMmql2acSryzVQRGPjEBmr6ZfvsVJZ8xX9QI/viewform" target="_blank">Survey</a></li>
            <li class="divider-vertical"></li>
            {% if p_slug %}
              <form class="navbar-search" action="{% url "cendari_faceted_search_view" project_slug=p_slug %}" method="get">
            {% else %}
              <form class="navbar-search" action="{% url "cendari_faceted_search_view" %}" method="get">
            {%endif%}
              <input type="text" class="search-query search-autocomplete" name="q" x-search-target="topics" placeholder="Search" />
            </form> 
        </ul>

        {% with user=request.user %}
          {% if user.is_authenticated %}
            {% if user.email %}
              <input type="hidden" id="logged-in-user-email" value="{{ user.email }}" />
            {% endif %}
            <ul class="nav pull-right">
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                {{ user.display_name }}
                 <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <li><a href="{{ user.get_absolute_url }}">My profile</a></li>
                  <li><a {% if browserid_authenticated %}class="browserid-logout" {% endif %}href="{% url "user_logout_view" %}">Log out</a></li>
                </ul>
              </li>
          </ul>
          {% else %}
            <ul class="nav pull-right">
              <li><a href="{% url 'user_login_view' %}{% if request.path|length > 1 %}?return_to={{ request.path }}{% endif %}">Log in</a></li>
              </ul>
          {% endif %}
        {% endwith %}
      </div>
    </div>
  </div>


<form id ='facetedSearchForm' method="get" action=".">
  <p>
    <input id="searchText" type="text" name="q" value="{{ query }}">
    <input id="searchSubmit" type="submit" value="Search"
           title="+ signifies AND, | signifies OR, - negates a single token, &quot; around a phrase, * at the end of a term for prefix, ( and ) signify precedence">
    <input type="hidden" id="project_slug" name="project_slug" value="">
    <span class='chk-with-label'>Include TRAME:
      <input id='trameCheckbox' type="checkbox" name="TRAME" value= "TRAME"></span>
    <span class='chk-with-label'>Limit search to current project:
      <input id='currentProjectCheckbox' type="checkbox" name="currentProject" value= "currentProject"> </span>
    <button type='button' id='selectAll'>Select All</button>
    <button type='button' id='selectNone'>Select None</button>
    <button type='button' id='selectCopy'>Copy Selection to Clipboard</button>
  </p>

<!-- Begin faceting. -->
<div style="clear:both;" class="btn-toolbar" id="facetview_selectedfilters">
</div>
<div class="leftpanel facetpane">
  <h2>Facets (<a href="?q=">reset</a>)</h2>
  <hr>
  {% for facet, values in facets|sortiter %}
  <table id="facetview_{{facet}}" class="facetview_filters table table-bordered table-condensed table-striped" >
    <tr><td>
    {% if values %}
      {% if facet in selected_facets %}
     <a class="facetview_filtershow" title="filter by {{ facet}}" rel="{{facet }}" style="color:#999; font-weight:bold;" href=""><i class="icon-plus"></i> {{ facet|capfirst }} ({{ values.value_count }})</a>
      {% else %}
     <a class="facetview_filtershow" title="filter by {{ facet}}" rel="{{facet }}" style="color:#333; font-weight:bold;" href=""><i class="icon-plus"></i> {{ facet|capfirst }} ({{ values.value_count }})</a>
      {% endif %}
    {% else %}
     <a class="facetview_filtershow facetview_novalues" title="filter by {{ facet}}" rel="{{facet }}" style="color:#999; font-weight:bold;" href=""><i class="icon-plus"></i> {{ facet|capfirst }}</a>
    {% endif %}
    {% if facet == "location" %}
        <div class="btn-group facetview_locationfilteroptions" style="margin-top:5px;">
          <a class="btn btn-small facetview_learnmore" title="click to view search help information" href="#"><b>?</b></a> 
          <a class="btn btn-small facetview_filterlocation" title="filter location" rel="{{facet}}" href="filter_location">Filter</a>
          <a class="btn btn-small facetview_adaptresolution" title="adapt viewport" rel="{{facet}}" href="adapt_to_viewport">Adapt</a>
          <a class="btn btn-small facetview_resetlocation" title="reset location filter" href="no_location_filter">Reset</a>
	</div>
	<div class="panelVis map" style="min-height: 30px; min-width: 170px; width: 170px; position: relative;">
	</div>
	{% autoescape off %}
	<script>
    	  var map_data = {{values.buckets|json}}, 
	  map = d3.select('.map');
	  buildMap(map_data, map);
	</script>
	{% endautoescape %}
    </td></tr>
    {% elif facet == "date" %}
        <div class="btn-group facetview_datefilteroptions" style="margin-top:5px;">
          <a class="btn btn-small facetview_learnmore" title="click to view search help information" href="#"><b>?</b></a> 
          <a class="btn btn-small facetview_filterdate" title="filter date" rel="{{facet}}" href="filter_date">Filter</a>
          <a class="btn btn-small facetview_resetdate" title="reset date filter" href="no_location_filter">Reset</a>
	</div>
	{% if values.bounds.0 %}
	<input type="text" id="min_date" name="min_date" value="{{values.bounds.0|todate}}">
	<input type="text" id="max_date" name="max_date" value="{{values.bounds.1|todate}}">
	<div class="panelVis timeline" style="min-height: 30px; min-width: 170px; width: 170px; position: relative;">
	</div>
	{% autoescape off %}
	<script>
    	  var date_data = {{values.buckets|json}}, 
	      timeline = d3.select('.timeline');
	  date_range = {{values.bounds|json}};
	  buildTimeline(date_data, date_range, timeline);
	  $(function() {
	      $( "#min_date" ).datepicker(datepicker_options);
	      $( "#max_date" ).datepicker(datepicker_options);
	  });
	  date_range = 0; // otherwise, the next queries will specify dates
	</script>
	{% endautoescape %}
	{% endif %}
    </td></tr>
    {% else %}
        <div class="btn-group facetview_filteroptions" style="display:none; margin-top:5px;">
          <a class="btn btn-small facetview_learnmore" title="click to view search help information" href="#"><b>?</b></a> 
          <a class="btn btn-small facetview_morefacetvals" title="filter list size" rel="{{facet}}" href="show_facets={{facet}}:100">100</a>
          <a class="btn btn-small facetview_sort {{facet}}" title="filter value order" href="{{facet}}">Sort</a>
	</div>
    </td></tr>
    {% for value in values.buckets %}
    <tr class="facetview_filtervalue" style="display:none;">
      <td><a class="facetview_filterchoice facetview_toggle" rel="{{ facet }}" href="selected_facets={{ facet }}:{{ value.key }}">{{ value.key }} {{value.doc_count|notzero}}</a></td>
    </tr>
    {% endfor %}
    {% endif %}
  </table>
  {% endfor %}
</div>
<!-- End faceting -->

<div class="mainpanel">
  <h2>{{sizes.total}} Results
{% if sizes.size < sizes.total %}
    ({{sizes.page}}/{{sizes.pages}})
    {% if sizes.from > 0 %}
    <a class="btn btn-small prev_page" title="Previous Page" href="prev">Prev</a>
    {% endif %}
    {% if sizes.last < sizes.total %}
    <a class="btn btn-small next_page" title="Next Page" href="prev">Next</a>
    {% endif %}
{% endif %}
</h2>
  <dl>
    {% for document in results %}
    <dt><input class='selectHit' type="checkbox" name="check_{{forloop.counter0}}" value= "{{document.uri}}">
<a href="{{ document.uri }}">
{% for title in document.title %}
 {% if forloop.first %}
{{ title }}
 {% else %}
, {{ title }}
 {% endif %}
{% empty %}
 {{ document.uri }}
{% endfor %}
</a></dt>
    <dd>
{% autoescape off %}  
      {% for h in document.highlight %}
      {{ h }}<br>
      {% endfor %}
{% endautoescape %}
    </dd>
    {% endfor %}
  </ol>
{% if sizes.size < sizes.total %}
  <h2>
    {% if sizes.from > 0 %}
    <a class="btn btn-small prev_page" title="Previous Page" href="prev">Prev</a>
    {% endif %}
    {% if sizes.last < sizes.total %}
    <a class="btn btn-small next_page" title="Next Page" href="prev">Next</a>
    {% endif %}
  </h2>
{% endif %}
  
  <div id='trameresults'>
  </div>

</div>

<script type="text/javascript">
  trame_sites = {};
  trame_sites['1'] = {'name':'TLIon - Tradizione della letteratura italiana on line','site':'http://tlion.sns.it'}
  trame_sites['2'] = {'name':'CODEX Inventario dei manoscritti medievali della Toscana','site':'http://codex.signum.sns.it/'}
  trame_sites['3'] = {'name':'UCLA – Catalogue of Digitized Medieval Manuscripts','site':'http://manuscripts.cmrs.ucla.edu/'}
  trame_sites['4'] = {'name':'Bodleian Library – Manuscripts Catalog','site':'http://www.bodley.ox.ac.uk/dept/scwmss/wmss/online/search.html'}
  trame_sites['6'] = {'name':'Biblioteca Apostolica Vaticana – Catalogo dei manoscritti','site':'http://www.mss.vatlib.it'}
  trame_sites['7'] = {'name':'"Bibliothèque nationale de France – Mandragore','site':' base des manuscrits enluminés"'}
  trame_sites['8'] = {'name':'"Bibliothèque nationale de France – Gallica','site':' manuscrits"'}
  trame_sites['9'] = {'name':'"Biblioteca Medicea Laurenziana','site':' Firenze – Teca digitale"'}
  trame_sites['10'] = {'name':'e-codices – Virtual Manuscript Library of Switzerland','site':'http://www.e-codices.unifr.ch/en/search'}
  trame_sites['11'] = {'name':'British Library – Manuscripts Catalogue','site':'http://www.bl.uk/catalogues/manuscripts/INDX0000.asp'}
  trame_sites['13'] = {'name':'Manuscripta Mediaevalia','site':'http://www.manuscripta-mediaevalia.de'}
  trame_sites['14'] = {'name':'UCB – Digital Scriptorium','site':'http://www.scriptorium.columbia.edu/'}
  trame_sites['15'] = {'name':'ICCU – Manus on line. Censimento dei manoscritti delle biblioteche italiane','site':'http://manus.iccu.sbn.it/'}
  trame_sites['17'] = {'name':'MDI - Manoscritti Datati d\'Italia','site':'http://www.manoscrittidatati.it/mdi/ricerca2.htm'}
  trame_sites['18'] = {'name':'IRHT – Medium : gestion des reproductions de manuscrits','site':'http://medium.irht.cnrs.fr'}
  trame_sites['19'] = {'name':'IRHT – Jonas : Répertoire des textes et des manuscrits médiévaux d’oc et d’oïl ','site':'http://jonas.irht.cnrs.fr/accueil/accueil.php'}
  trame_sites['20'] = {'name':'Ramon Llull Database','site':'http://orbita.bib.ub.es/ramon/ms0.asp'}
  trame_sites['21'] = {'name':'DEAF – Dictionnaire Étymologique de l\'Ancien Français. Complément bibliographique','site':'http://www.deaf-page.de/fr/bibl_neu.htm'}
  trame_sites['22'] = {'name':'Archives de littérature du Moyen Âge','site':'http://www.arlima.net/mss/'}
  trame_sites['24'] = {'name':'I testimoni della Vita Nova','site':'http://vitanova.unipv.it/testimoni.php'}
  trame_sites['30'] = {'name':'Biblioteca della Società internazionale di studi francescani','site':'http://www.sisf-assisi.it/mediatheca.HTM'}
  trame_sites['32'] = {'name':'Budapest - Országos Széchenyi Könivtár','site':'http://www.arcanum.hu/'}
  trame_sites['33'] = {'name':'Cambridge (St. John\'s College)','site':'http://www.joh.cam.ac.uk/library/special_collections/manuscripts/medieval_manuscripts/'}
  trame_sites['125'] = {'name':'LUND University library','site':'http://laurentius.ub.lu.se'}
  trame_sites['135'] = {'name':'Bibliothèque Municipale de Lyon','site':'http://florus.bm-lyon.fr'}
  trame_sites['35'] = {'name':'Houghton Library collection ','site':'http://hcl.harvard.edu/libraries/houghton/collections/early_manuscripts/about.cfm#collection'}
  trame_sites['37'] = {'name':'Durham Medieval Manuscripts in the University Library','site':'http://www.dur.ac.uk/library/asc/theme/medmss/'}
  trame_sites['84'] = {'name':'MEL (Mirabile) Bollettino bibliografico della cultura europea da Boezio a Erasmo (secoli VI-XV)','site':'http://www.mirabileweb.it/'}
  trame_sites['137'] = {'name':'British Library Illuminated Manuscripts','site':'http://www.bl.uk/catalogues/illuminatedmanuscripts/'}
  trame_sites['83'] = {'name':'CALMA (Mirabile) Compendium Auctorum Latinorum Medii Aevi','site':'http://www.mirabileweb.it/'}
  trame_sites['92'] = {'name':'MAGIS (Mirabile) Manoscritti Agiografici dell\'Italia del Sud','site':'http://www.mirabileweb.it/'}
  trame_sites['43'] = {'name':'København The Royal Library','site':'http://www.kb.dk/en/kb/nb/ha/e-mss/mdr.html'}
  trame_sites['44'] = {'name':'Köln (Codices Electronici Ecclesiae Coloniensis)','site':'http://www.ceec.uni-koeln.de/'}
  trame_sites['91'] = {'name':'IUSS - MAFRA (Mirabile) Repertorio dei manoscritti gallo-romanzi esemplati in Italia','site':'http://www.mirabileweb.it/'}
  trame_sites['48'] = {'name':'TLIon - MSSb: Bibliografia dei manoscritti citati in rivista','site':'http://tlion.sns.it/mssb/'}
  trame_sites['119'] = {'name':'ABC (Mirabile) Antica Biblioteca Camaldolese','site':'http://www.mirabileweb.it/'}
  trame_sites['120'] = {'name':'TRAMP (Mirabile) La Tradizione Medievale dei Padri','site':'http://www.mirabileweb.it/'}
  trame_sites['49'] = {'name':'"SALVit - Studio','site':' Archivio e Lessico dei volgarizzamenti italiani"'}
  trame_sites['50'] = {'name':'ENSU - Edizione nazionale dei testi della storiografia umanistica','site':'http://www.ilritornodeiclassici.it/ensu'}
  trame_sites['117'] = {'name':'ROME (Mirabile) Repertorio degli Omiliari del Medio Evo','site':'http://www.mirabileweb.it/'}
  trame_sites['118'] = {'name':'TETRA (Mirabile) Mediaeval Latin Texts and their Transmission','site':'http://www.mirabileweb.it/'}
  trame_sites['51'] = {'name':'ENAV - Edizione Nazionale degli antichi volgarizzamenti dei testi latini nei volgari italiani','site':'http://www.ilritornodeiclassici.it/enav'}
  trame_sites['116'] = {'name':'Manuscriptorium','site':'www.manuscriptorium.com'}
  trame_sites['34'] = {'name':'Cambridge (Trinity College)','site':'http://www.trin.cam.ac.uk/index.php'}
  trame_sites['52'] = {'name':'Hill Museum & Manuscript Library','site':'http://www.hmml.org/'}
  trame_sites['53'] = {'name':'Eine Bestandsaufnahme der handschriftlichen Überlieferung deutschsprachiger Texte des Mittelalters','site':'http://www.handschriftencensus.de'}
  trame_sites['90'] = {'name':'BAI (Mirabile) Biblioteca Agiografica Italiana','site':'http://www.mirabileweb.it/'}
  trame_sites['56'] = {'name':'Guide en ligne des manuscrits médiévaux Wallonie-Bruxelles','site':'http://www.cicweb.be/en/'}
  trame_sites['57'] = {'name':'MIRAbile - Archivio digitale della cultura medievale','site':'http://www.mirabileweb.it/'}
  trame_sites['58'] = {'name':'ICCU – Manus on line. Censimento dei manoscritti delle biblioteche italiane','site':'http://manus.iccu.sbn.it/'}
  trame_sites['63'] = {'name':'Datierte Handschriften in lateinischer Schrift in Österreich','site':'http://www.ksbm.oeaw.ac.at'}
  trame_sites['64'] = {'name':'Enluminures','site':'http://www.enluminures.culture.fr'}
  trame_sites['89'] = {'name':'LIO (Mirabile) Lirica italiana delle Origini','site':'http://www.mirabileweb.it/'}
  trame_sites['66'] = {'name':'Nuova biblioteca manoscritta','site':'http://www.nuovabibliotecamanoscritta.it'}
  trame_sites['67'] = {'name':'Repertorium Biblicum Medii Aevii','site':'http://repbib.uni-trier.de/cgi-bin/rebihome.tcl'}
  trame_sites['68'] = {'name':'BHL Biblioteca Hagiographica Latina manuscripta','site':'http://bhlms.fltr.ucl.ac.be'}
  trame_sites['69'] = {'name':'International Catalogue of Mediaeval Scientific Manuscripts','site':'http://jordanus.org/'}
  trame_sites['71'] = {'name':'Scriptorium / Bulletin codicologique','site':'http://www.scriptorium.be/index.php?lang=en'}
  trame_sites['73'] = {'name':'"Lyon','site':' Bibliothèque Municipale"'}
  trame_sites['39'] = {'name':'University of Glasgow','site':'http://special.lib.gla.ac.uk/manuscripts/search/'}
  trame_sites['74'] = {'name':'Munchen (BSB)','site':'http://daten.digitale-sammlungen.de'}
  trame_sites['75'] = {'name':'http://www.eab-paderborn.de/fh.htm','site':'http://www.eab-paderborn.de/fh.htm'}
  trame_sites['76'] = {'name':'Philadelphia (Free Library)','site':'http://libwww.library.phila.gov/medievalman/MSSSrchFrm.cfm'}
  trame_sites['77'] = {'name':'"New Haven','site':' CT (Yale)"'}
  trame_sites['86'] = {'name':'RICABIM (Mirabile) Repertorio di Inventari e Cataloghi di Biblioteche Medievali','site':'http://www.mirabileweb.it/'}
  trame_sites['80'] = {'name':'Salzburg (UB)','site':'http://www.ubs.sbg.ac.at/sosa/webseite/hsskat.htm'}
  trame_sites['81'] = {'name':'Wolfenbüttel','site':'http://www.hab.de/bibliothek/wdb/mssdigital.htm'}
  trame_sites['87'] = {'name':'CANTICUM (Mirabile) Commenti medievali al Cantico dei Cantici','site':'http://www.mirabileweb.it/'}
  trame_sites['88'] = {'name':'MATER (Mirabile) Manoscritti Agiografici di Trento e Rovereto','site':'http://www.mirabileweb.it/'}
  trame_sites['82'] = {'name':'BISLAM (Mirabile) Bibliotheca Scriptorum Latinorum Medii Recentiorisque Aevi','site':'http://www.mirabileweb.it/content.aspx?info=Repertorio_Bislam'}
  trame_sites['85'] = {'name':'MEM (Mirabile) Medioevo musicale','site':'http://www.mirabileweb.it/'}
  trame_sites['102'] = {'name':'Manuscripts on line','site':'http://www.manuscriptsonline.org/'}
  trame_sites['101'] = {'name':'ICCU – BibMan: Bibliografia dei manoscritti in alfabeto latino conservati in Italia','site':'http://bibman.iccu.sbn.it'}
  trame_sites['5'] = {'name':'Biblioteca Apostolica Vaticana Manoscritti Digitalizzati','site':'http://www.vatlib.it/'}
  trame_sites['12'] = {'name':'Nuova Biblioteca Manoscritta','site':'http://www.nuovabibliotecamanoscritta.it/'}
  trame_sites['121'] = {'name':'TRALIRO (Mirabile) Repertorio ipertestuale della tradizione lirica romanza delle Origini','site':'http://www.mirabileweb.it/'}
  trame_sites['122'] = {'name':'TECOLM (Mirabile) Testi e Codici della Lombardia medieval','site':'http://www.mirabileweb.it/'}
  trame_sites['123'] = {'name':'The European Library','site':'http://www.theeuropeanlibrary.org/tel4/'}
  trame_sites['127'] = {'name':'Beinecke Digital Collections','site':'http://brbl-dl.library.yale.edu/'}
  trame_sites['128'] = {'name':'Early Manuscripts at Oxford University','site':'http://image.ox.ac.uk/'}
  trame_sites['129'] = {'name':'MacKinney Collection of Medieval Medical Illustrations','site':'http://dc.lib.unc.edu/cdm/search/collection/mackinney/'}
  trame_sites['131'] = {'name':'"Manuscripts in the Library of St John\'s College','site':' Cambridge"'}
  trame_sites['132'] = {'name':'Schoenberg Database of Manuscripts at UPENN Libraries','site':'http://dla.library.upenn.edu/dla/schoenberg'}
  trame_sites['134'] = {'name':'University Libraries at South Carolina Universities','site':'http://digital.tcl.sc.edu/'}
  trame_sites['130'] = {'name':'KUL List of microfilmed manuscripts','site':'http://hiw.kuleuven.be/apps/microfilm/microfilm.php'}
  trame_sites['138'] = {'name':'French Illuminated Manuscripts','site':'http://www.enluminures.culture.fr/documentation/enlumine/fr/'}
  trame_sites['139'] = {'name':'Digital Archive of Medieval Music','site':'http://www.diamm.ac.uk'}
  trame_sites['141'] = {'name':'Mazarinum - Les collections numeriques de la Bibliotheque Mazarine','site':'http://mazarinum.bibliotheque-mazarine.fr/?esa=resetall'}




  function getQueryParams(qs) {
    qs = qs.split('+').join(' ');

    var params = {},
        tokens,
        re = /[?&]?([^=]+)=([^&]*)/g;

    while (tokens = re.exec(qs)) {
      params[decodeURIComponent(tokens[1])] = decodeURIComponent(tokens[2]);
    }

    return params;
  }

  function makeList(jsonData){
    ul = document.createElement('ul');
    for(i=0;i<jsonData.length;i++){
      var li = document.createElement('li');
      var a = document.createElement('a');

      a.target="_blank";
      a.href = jsonData[i].url;
      a.innerHTML = jsonData[i].titolo;

      li.appendChild(a);
      ul.appendChild(li)
    }
    return ul
  }

  bind_faceted_widgets();
  $('.next_page').click(next_page);
  $('.prev_page').click(prev_page);

  $(document).ready(function(){
    var query = getQueryParams(document.location.search);


    if(query.hasOwnProperty('project_slug')){
      $('#project_slug').val(query['project_slug']);
    }
    if(query.hasOwnProperty('currentProject')){
      $('#currentProjectCheckbox').prop("checked","true");
    }
    $('#currentProjectCheckbox').change(function() {
      if($(this).is(":checked")) {
        $('#facetedSearchForm').attr('action','http://'+location.host+'/cendari/'+$('#project_slug').val()+'/faceted/')
      }
      else{
        $('#facetedSearchForm').attr('action','http://'+location.host+'/cendari/faceted/')
      }
    })

    if(query.hasOwnProperty('TRAME')){
      var trame_query = "{% url 'trame_search_view' %}?q="+query['q']//+"&dbs="
      // var iframe_src = "http://trame.fefonlus.it/trame/index.php?op=search&Field0="+query['q']+"&Field6_loc=&Field6_lib=&Field6_hold=&Field6_shelf=&Field4=&Field41=&Field42=&Field5=&Field7=&Field2=&Field1=&Field3=&Field6=&dbs=90|82|83|87|2|19|89|91|92|58|88|17|84|85|57|86|48|1&maxnum=10"

      // keys = Object.keys(trame_query)
      // for(var i=0; i<keys.length;i++){
        
      //   trame_query +=keys[i];

      //   if(i<keys.length -1){
      //     trame_query +='|'
      //   }
      // }

      $.ajax({
        url:trame_query,
        dataType: "json",
        beforeSend: function() {
          // setting a timeout
          h2 = document.createElement('h2')
          h2.innerHTML = 'Loading TRAME results';
          $('#trameresults').append(h2);
        },
        success: function(data){
          h2 = document.createElement('h2')
          h2.innerHTML = 'TRAME Results:'
         
          
          var ul = document.createElement('ul');

          var li_127 = document.createElement('li');
          var ul_127 = makeList(data.site_127);
          var a_127  = document.createElement('a');
          var h3_127 = document.createElement('h3');
          a_127.target = "_blank"
          a_127.href ="http://brbl-dl.library.yale.edu/";
          a_127.innerHTML="Beinecke Digital Collections";
          h3_127.appendChild(a_127)
          li_127.appendChild(h3_127);
          li_127.appendChild(ul_127);


          var li_129 = document.createElement('li');
          var ul_129 = makeList(data.site_129);
          var a_129  = document.createElement('a');
          var h3_129 = document.createElement('h3');
          a_129.target = "_blank"
          a_129.href ="http://dc.lib.unc.edu/cdm/search/collection/mackinney/";
          a_129.innerHTML="MacKinney Collection of Medieval Medical Illustrations";
          h3_129.appendChild(a_129);
          li_129.appendChild(h3_129);
          li_129.appendChild(ul_129);

          ul.appendChild(li_127)
          ul.appendChild(li_129)

          $('#trameresults').empty().append(h2).append(ul)
        },
        error: function(xhr){
          h2 = document.createElement('h2')
          h2.innerHTML = 'Apologies, something went wrong with Trame'
          $('#trameresults').empty().append(h2)
          console.log("xhr status text",xhr.statusText)
          console.log("xhr response text",xhr.responseText)
        }
      })
      // .done()
      // .fail(function(){
        
      // })


      $('#trameCheckbox').prop("checked","true");
      console.log("TRAMMMEEEEE");
      // $('#trameIframe').attr('src',iframe_src)
    }
    $("#searchText").val(query['q'])
  });
</script>
</form>
{% endblock nolayout_content %}
