{% load set_var %}
<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="static_url" id="static_url" content="{{ STATIC_URL }}" />
  <meta name="root_url" id="root_url" content="{%url 'index_view' %}" />

{% load staticfiles compress %}
				<title> Cendari 
				{% if project %}: {{ project.name }}
				{% else %}
				{% endif %}
				{% block title %}
				{% endblock %} 
				</title>
{% compress css %}	
	<!-- editors base css-->
	<link rel="stylesheet" href="{% static "style/main.less" %}" type="text/less"/>
	<link rel="stylesheet" href="{% static "style/font-awesome/font-awesome.css" %}" type="text/css"/>
	<link rel="stylesheet" href="{% static "style/openwebicons/css/openwebicons-bootstrap.css" %}" type="text/css"/>
    <link rel="stylesheet" href="{% static "style/bootstrap-custom.css" %}" type="text/css"/>	
	<!-- editors OLD base css-->
	<link rel="stylesheet" href="{% static "style/jquery-ui/jquery-ui-1.8.10.custom.css" %}" type="text/css"/>	
	<!-- extjs css-->
	<link rel="stylesheet" type="text/css" href="{% static "extjs/resources/css/ext-custom.css" %}" />


	<style type="text/css">
		.resizable {
			resize: both;   /* Options: horizontal, vertical, both */
		    overflow: auto; /* fix for Safari */
		}
	</style>

{% endcompress %}
	
{% compress css %}{% block css %}{% endblock %}{% endcompress %}
{% block css_nocompress %}{% endblock %}
		
<script type="text/javascript">
        	var EditorsNotes = {};
        	{% if request.user.is_authenticated and request.user.email %}
          		EditorsNotes.loggedInUser = '{{ request.user.email }}';
        	{% endif %}
</script>

<script type="text/javascript">
			cendari_js_project_slug = '{{ project.slug }}'||'{{project_slug}}';
			cendari_js_object_type = '{{object_type}}';
			cendari_js_object_id = '{{object_id}}' || '';
			cendari_js_topic_type = '{{topic_type}}' || '';
			// console.log("NB cendaribase.html*********** cendari_js_project_slug is "+cendari_js_project_slug);
			// console.log("NB cendaribase.html*********** cendari_js_object_type is "+cendari_js_object_type);
			// console.log("NB cendaribase.html*********** cendari_js_object_id is "+cendari_js_object_id);
			// console.log("NB cendaribase.html*********** cendari_js_topic_type is "+cendari_js_topic_type);
		    cendari_root_url = "{%url 'index_view' %}";

		    editors_crc32 = {}
</script>

{% if not project %}
	{% set project_slug = user.get_authorized_projects |first %}
       		
{% else %}
  	{% set project_slug = project.slug %}
{% endif %}

<!-- editor base js -->
	<script type="text/javascript" src="{% static "function/jquery/jquery-1.8.2.min.js" %}"></script>
    <script type="text/javascript" src="https://login.persona.org/include.js"></script>
	<script type="text/javascript" src="{% static "function/lib/browserid.js" %}"></script>

	<script type="text/javascript" src="{% static "function/jquery/jquery.form.js" %}"></script>

<!-- editors OLD js: MAYBE SHOULD BE REMOVED?--> 	
	<script type="text/javascript" src="{% static "function/jquery/jquery-ui-1.8.24.custom.min.js" %}"></script>
	<script type="text/javascript" src="{% static "function/underscore-min.js" %}"></script>
	<script type="text/javascript" src="{% static "function/jquery/jquery.timeago.js" %}"></script>
	<script type="text/javascript" src="{% static "function/jquery/jquery.ba-bbq.min.js" %}"></script>

	<script type="text/javascript" src="{% static "cendari/js/jquery_upload/js/vendor/jquery.ui.widget.js" %}"></script>
	<script type="text/javascript" src="{% static "cendari/js/jquery_upload/js/jquery.fileupload.js" %}"></script>

	<script type="text/javascript" src="{% static "function/base.js" %}"></script>
	<script type="text/javascript" src="{% static "function/bootstrap.min.js" %}"></script>

<!-- extsjs js?-->
	<script type="text/javascript" src="{% static "extjs/bootstrap.js" %}"></script>
	<!-- <script type="text/javascript" src="{% static "extjs/ext-all-debug.js" %}"> </script>   -->
				
<!-- tinymce face -->
	<script type="text/javascript" src="{% static "RDFaCE0.6schema/tinymce/jscripts/tiny_mce/plugins/rdface/js/util/config.js" %}"></script>
	<script type="text/javascript" src="{% static "RDFaCE0.6schema/tinymce/jscripts/tiny_mce/plugins/rdface/js/util/jquery.cookie.js" %}"></script>
	<script type="text/javascript" src="{% static "RDFaCE0.6schema/tinymce/jscripts/tiny_mce/plugins/rdface/js/util/drag.js" %}"></script>
	<script type="text/javascript" src="{% static "RDFaCE0.6schema/tinymce/jscripts/tiny_mce/plugins/rdface/js/util/functions.js" %}"></script>
	<script type="text/javascript" src="{% static "RDFaCE0.6schema/tinymce/jscripts/tiny_mce/tiny_mce.js" %}"></script>
	<script type="text/javascript" src="{% static "RDFaCE0.6schema/tinymce/jscripts/tiny_mce/tiny_mce_gzip.js" %}"></script>

<!-- tracing library -->
	<!-- script type="text/javascript" src="{% static "tracing/trace_test_130529.js" %}"></script-->			
{% compress js %}{% block js %}{% endblock %}{% endcompress %}
		
{% block js_nocompress %}
	<script type="text/javascript" src="https://www.gstatic.com/freebase/suggest/4_2/suggest.min.js"></script>
{% endblock %}

</head>

{% load typogrify display %}

<body>

{% block layout %}
{% endblock layout %}
	
</body>
</html>



