{% extends 'emptylayout.html' %}

{% load staticfiles display sort jsondumps %}

{% block css_nocompress %}
<link rel="stylesheet" href="{% static "bootstrap/css/bootstrap.min.css" %}">
<link rel="stylesheet" href="{% static "jquery-ui-1.8.18.custom/jquery-ui-1.8.18.custom.css" %}">
<link rel="stylesheet" href="{% static "cendari/css/facetview.css" %}">
<link href='{% static 'cendari/css/smallvis.css' %}' rel='stylesheet' type='text/css'/>
<link rel='stylesheet' href='//cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.css' />
<style type="text/css">
  .container {
      height: 1%;
  }

  dd {
      font-size: small;
  }

  .leftpanel {
      float: left;
      padding: 5px;
      width: 200px;
      border: 1px solid black;
  }
  .mainpanel {
      padding: 5px;
      margin-left: 210px;
  }
  .highlighted {
    background: #faa732;
    padding: 2px;
  }
  .searchresult > a * {
    display: inline;
  }
  .searchresult {
    margin-bottom: .75em;
  }
</style>
{% endblock css_nocompress %}

{% block js_nocompress %}
<script type="text/javascript" src="{% static "function/jquery/jquery-1.8.2.min.js" %}"></script>
<script src='{% static 'function/d3/d3.v3.min.js' %}'></script>
<script type="text/javascript" src="{% static "bootstrap/js/bootstrap.js" %}"></script>
<script type="text/javascript" src="{% static "jquery-ui-1.8.18.custom/jquery-ui-1.8.18.custom.min.js" %}"></script>
<script type="text/javascript" src="{% static "cendari/js/latlon-geohash.js" %}"></script>
<script src='//cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.js'></script>

<script type="text/javascript">
    function showfiltervals(event) {
	event.preventDefault();
	if ( $(this).hasClass('facetview_open') ) {
	    $(this).children('i').removeClass('icon-minus');
	    $(this).children('i').addClass('icon-plus');
	    $(this).removeClass('facetview_open');
	    $('[id="facetview_' + $(this).attr('rel') +'"]').children().find('.facetview_filtervalue').hide();
	    $(this).siblings('.facetview_filteroptions').hide();
	} else {
	    $(this).children('i').removeClass('icon-plus');
	    $(this).children('i').addClass('icon-minus');
	    $(this).addClass('facetview_open');
	    $('[id="facetview_' + $(this).attr('rel') +'"]').children().find('.facetview_filtervalue').show();
	    $(this).siblings('.facetview_filteroptions').show();
	}
    }

/**
 * Constructs a map visualization.
 **/
  function buildMap(mapData, element) {
      var map = element.classed('map', true).attr('id','leafletmap');
      var height = parseInt(element.style('height'));
      var width = parseInt(element.style('width'));
      
      var maxZoom = 10, minZoom = 1, defaultZoom = 1;
      var minPointSize = 2, maxPointSize = 10;
      
      if(mapData.length < 1) return;
      
      //process location string into lat/lon values
      for(var i = 0; i < mapData.length; i++){
	  var item = mapData[i];
	  var latlon = Geohash.decode(item.key);
	  var lat = latlon.lat;
	  var lon = latlon.lon;
	  if(lat == 0 && lon == 0) continue;
	  item._lat = lat;
	  item._lon = lon;
      }
      
      
      var latExtent = d3.extent(mapData, function(d){return d._lat;});
      var lonExtent = d3.extent(mapData, function(d){return d._lon;});
      var latScale = d3.scale.linear()
	  .domain(latExtent)
	  .range([height - maxPointSize/2, maxPointSize/2]);
      var lonScale = d3.scale.linear()
	  .domain(lonExtent)
	  .range([maxPointSize/2, width - maxPointSize/2]);
      var sizeScale = d3.scale.linear()
	  .domain(d3.extent(mapData, function(d){return d.doc_count;}))
	  .range([minPointSize/2, maxPointSize/2]);
      
      //Using Leaflet (instead of D3) for basemap
      var leafletMap = L.map('leafletmap',{attributionControl:false, minZoom:minZoom, maxZoom:maxZoom})
	  .fitBounds([[latExtent[0], lonExtent[0]], [latExtent[1], lonExtent[1]]]);
	  //.setView([(latExtent[0]+latExtent[1])/2,(lonExtent[0]+lonExtent[1])/2], defaultZoom);
      L.tileLayer(document.location.protocol + '//{s}.tiles.mapbox.com/v4/wjwillett.i9o7e0g1/{z}/{x}/{y}.png?access_token=pk.eyJ1Ijoid2p3aWxsZXR0IiwiYSI6IlJtUlFYVkEifQ.Qk10zoCrd2pTN6t2rcyifQ').addTo(leafletMap);
      for(var i=0; i < mapData.length; i++){
	  var d = mapData[i];
	  var mark = L.circleMarker([d._lat,d._lon],{'className':'mark', opacity:1.0, weight:0.4, fillOpacity: 1.0})
	      .setRadius(sizeScale(d.doc_count)).addTo(leafletMap); 
	  //associate a data tuple with the mark (to mimic D3)
	  mark._path.__data__ = d;   
      }
  }

  function morefacetvals(event) {
      event.preventDefault();

      var url = facet_add_value("{{ request.get_full_path }}",
				 $(this).attr("href"));
      document.location.assign(url);
  }

  function facet_add_value(href, val) {
      return href + (href.indexOf('?')==-1?"?q=":"")+ "&" + val;
  }

  function facet_del_value(href, val) {
      return href.replace("&"+val,"");
  }

{% autoescape off %}  
  function facet_add(event) {
      event.preventDefault();
      var url = facet_add_value("{{ request.get_full_path }}",
				$(this).attr("href"));
      document.location.assign(url);
  }

  function facet_del(event) {
      event.preventDefault();
      var url = facet_del_value("{{ request.get_full_path }}",
				$(this).attr("href"));
  }

  function next_page(event) {
      event.preventDefault();
      var url = "{{ request.get_full_path }}";
      url = url.replace(/[&]from=[^&]*/, "");
      url = url + '&from='+Math.min({{sizes.total}}-{{sizes.size}}+1,{{sizes.from}}+{{sizes.size}});
      document.location.assign(url);
  }

  function prev_page(event) {
      event.preventDefault();
      var url = "{{ request.get_full_path }}";
      url = url.replace(/[&]from=[^&]*/, "");
      url = url + '&from='+Math.max(0,{{sizes.from}}-{{sizes.size}});
      document.location.assign(url);
  }

{% endautoescape %}
</script>

{% endblock js_nocompress %}

{% block nolayout_content %}
<form method="get" action=".">
  <p>
    <input type="text" name="q" value="{{ query }}">
    <input type="submit" value="Search">
  </p>

<!-- Begin faceting. -->
<div style="clear:both;" class="btn-toolbar" id="facetview_selectedfilters">
</div>
<div class="leftpanel facetpane">
  <h2>Facets (<a href="?q=">reset</a>)</h2>
  <hr>
  {% for facet, values in facets|sortiter %}
  <table id="facetview_{{facet}}" class="facetview_filters table table-bordered table-condensed table-striped" >
    <tr><td>
    {% if values %}
      {% if facet in selected_facets %}
     <a class="facetview_filtershow" title="filter by {{ facet}}" rel="{{facet }}" style="color:#999; font-weight:bold;" href=""><i class="icon-plus"></i> {{ facet|capfirst }} ({{ values.value_count }})</a>
      {% else %}
     <a class="facetview_filtershow" title="filter by {{ facet}}" rel="{{facet }}" style="color:#333; font-weight:bold;" href=""><i class="icon-plus"></i> {{ facet|capfirst }} ({{ values.value_count }})</a>
      {% endif %}
    {% else %}
     <a class="facetview_filtershow facetview_novalues" title="filter by {{ facet}}" rel="{{facet }}" style="color:#999; font-weight:bold;" href=""><i class="icon-plus"></i> {{ facet|capfirst }}</a>
    {% endif %}
    {% if facet == "location" %}
<div class="panelVis map" style="min-height: 30px; min-width: 150px; width: 150px; position: relative;">
</div>
{% autoescape off %}
<script>
var map_data = {{values.buckets|json}}, 
  map = d3.select('.panelVis');
buildMap(map_data, map);
</script>
{% endautoescape %}
    {% else %}
        <div class="btn-group facetview_filteroptions" style="display:none; margin-top:5px;">
          <a class="btn btn-small facetview_learnmore" title="click to view search help information" href="#"><b>?</b></a> 
          <a class="btn btn-small facetview_morefacetvals" title="filter list size" rel="{{facet}}" href="show_facets={{facet}}:100">100</a>
          <a class="btn btn-small facetview_sort {{facet}}" title="filter value order" href="{{facet}}">Sort</a>
	</div>
    </td></tr>
    {% for value in values.buckets %}
    {% if facet in selected_facets and value.key in selected_facets.facet %}
    <tr class="facetview_filtervalue" style="display:none;">
      <td><a class="facetview_filterchoice facetview_del" rel="{{ facet }}" href="selected_facets={{ facet }}:{{ value.key }}">{{ value.key }} ({{ value.doc_count }})</a></td>
    </tr>
    {% else %}
    <tr class="facetview_filtervalue" style="display:none;">
      <td><a class="facetview_filterchoice facetview_add" rel="{{ facet }}" href="selected_facets={{ facet }}:{{ value.key }}">{{ value.key }} ({{ value.doc_count }})</a></td>
    </tr>
    {% endif %}
    {% endfor %}
    {% endif %}
  </table>
  {% endfor %}
</div>

<!-- End faceting -->

<div class="mainpanel">
  <h2>{{sizes.total}} Results
    {% if sizes.size < sizes.total %}
    ({{sizes.page}}/{{sizes.pages}})
    <a class="btn btn-small prev_page" title="Previous Page" href="prev">Prev</a>
    <a class="btn btn-small next_page" title="Next Page" href="prev">Next</a>
    {% endif %}
</h2>
  <dl>
    {% for document in results %}
    <dt><a href="{{ document.uri }}">{{ document.uri }}</a></dt>
    <dd>
{% autoescape off %}  
      {% for h in document.highlight %}
      {{ h }}<br>
      {% endfor %}
{% endautoescape %}
    </dd>
    {% endfor %}
  </ol>
{% if sizes.size < sizes.total %}
  <h2>
    <a class="btn btn-small prev_page" title="Previous Page" href="prev">Prev</a>
    <a class="btn btn-small next_page" title="Next Page" href="prev">Next</a>
  </h2>
{% endif %}
</div>

<script type="text/javascript">
  $('.facetview_filtershow').click(showfiltervals);
  $('.facetview_add').click(facet_add);
  $('.facetview_del').click(facet_del);
  $('.facetview_morefacetvals').click(morefacetvals);
  $('.next_page').click(next_page);
  $('.prev_page').click(prev_page);
</script>
</form>
{% endblock nolayout_content %}
