{% extends "centerCendari.html" %}
{% load set_var %}
{% load staticfiles typogrify display  compress %}

{% block css %}
<link rel="stylesheet" type="text/css" media="all" href="{% static "iipmooviewer/css/iip.css" %}" />
{% endblock %}


{% block init %}
	<meta name="document_id" id="document_id" content="{{ document.id }}" />
	<meta name="document_name" id="document_name" content="{{ document.import_id }}" />
	<script type="text/javascript" src="{% static "cendari/js/toc.min.js" %}"></script>
{% endblock init %}

{% block model_fields %}
	<div class="form-menu-document" >
		<ul class="tabs document">
			<li> <!-- ENTITIES TAB --> 
				<input type="radio" checked name="tabs" id="tab1">
				<label id='entitiesTab' for="tab1">
				<script > document.write("Entities (" + "{{ document.get_all_related_topics|length }}" + ")"); </script>
				</label>
				<div id="tab-content1" class="tab-content  document animated fadeIn">
					<div class="form-entities" id="document-related-topics">
						{% if document %}
							{% for topic in document.get_all_related_topics %}
								<a href= {{ topic.get_absolute_url }}
									{% if 		topic.topic_node.type == "PER" %} class ="form-entities r_person"
									{% elif 	topic.topic_node.type == "ORG" %} class ="form-entities r_organization"
									{% elif 	topic.topic_node.type == "EVT" %} class ="form-entities r_event"
									{% elif 	topic.topic_node.type == "PLA" %} class ="form-entities r_place"
									{% elif 	topic.topic_node.type == "TAG" %} class ="form-entities r_thing"
									{% else 						%} class = "form-entities"
									{% endif %}
								> 
									{% if topic.topic_node.type == "EVT" %}
										{% if  topic.date%} 
											{{topic}} 
										{%else%}
											<u> {{topic}} </u>
										{%endif%}
									{% else %}
										{% if  topic.rdf%} 
											{{topic}} 
										{%else%}
											<u> {{topic}} </u>
										{%endif%}
									{% endif %}
								</a>
							{% endfor %}
							{% if not document.get_all_related_topics|length > 0 %}
								<div> No Entities. </div> 
								<div> select the Entity & right-click to add it</div>
							{% endif %}

						{% endif %}

						{% if not document.id > 0 %}
							<div> No Entities. </div> 
							<div> Save this document to add your Entities</div>
						{% endif %}

					</div>
				</div>
			</li> <!-- end of ENTITIES TAB --> 

			<li> <!-- TRANSCRIPT TAB -->
				<input type="radio" name="tabs" id="tab2">
				<label for="tab2">Transcript {% if document.transcript %} (1) {% else %} (0) {% endif %}</label>
				<div id="tab-content2" class="tab-content document animated fadeIn resizable">
					{% if document.transcript %}
					<div id="transcript_content" class="form-main edit-section">
					  {{document.transcript.content|as_html}}
					</div>
					{% else %}
						No transcript.
					{% endif %}	
				</div>
			</li> <!-- end of TRANSCRIPT TAB -->

			<li> <!-- LINKS TAB -->
				<input type="radio" name="tabs" id="tab4">
				<label for="tab4">Links ({% if not document.has_links %}0{% else %}{{ document.links.count }} {% endif%})</label>
				<div id="tab-content4" class="tab-content document animated fadeIn">
					{% if document.has_links %}
						<h4>External link{% if document.links.count > 1 %}s{% endif %}</h4>
						<ul class="unstyled">
							{% for link in document.links.all %}
							<li>
								<a style="text-decoration: underline;" href="{{ link }}">{{ link }}</a>
								<div>
									{{ link.description }}
								</div>
							</li>
							{% endfor %}
						</ul>
					{% endif %}				
				</div>
			</li> <!-- end of LINKS TAB -->

			<li> <!-- SCANS TAB -->
				<input type="radio" name="tabs" id="tab5">
				<label id="scansTab" for="tab5">Scans ({% if not scans %}0{% else %}{{ document.get_scan_count }} {% endif%})</label>
				<div id="tab-content5" class="tab-content document animated fadeIn"
					
					<section id="scans-tab" >
						<div id="scanlist-container">
							<ul id="scan-list">
								{% if scans %}
									{% for scan in scans %}
										<li class='scan-list-item'>
											<a class="scan btn" id="{{scan.id}}" href="{% url 'scan_view' project.slug scan.id %}" target='_blank'>
												<img src="{{scan.image_thumbnail.url}}" width=100 alt="Thumbnail of scan {{scan.id}}">
												<!-- {{ forloop.counter }} -->
											</a>
										</li>
									{% endfor %}
								{% else %}
									No scans.
								{% endif %}
							</ul>
    						    <iframe width="100%" allowfullscreen="true" id="scan-viewer" name='scan-viewer'></iframe>
						</div>

						<br/>
					</section>
					
				</div>
			</li>
		</ul>

		<div class="stop-float"></div>
		<div style="height:5px"> &nbsp;</div>
		{% if document %} 
		<div id='document_toc_wrapper'>
		  <p>Table of contents (<a class='visibilityToc' href="">hide</a>)</p>
		  <ol id="document_toc" class='toc'></ol>
		</div>
		<div id="document_content"> 
		  {{document.description|as_html}}
		</div>
		{% endif %}	
	</div>

	
{% endblock model_fields %}

{% block functions %}

	<script>
		switchtabs(5, "document");
		var isReadOnly = false, title = "New Document", id = document.getElementById("document_id").getAttribute("content");

		// if (id > 0) {
		// 	var name = document.getElementById("document_name").getAttribute("content");
		// 	title = "Document " + id + ": " + name;
		// 	isReadOnly = true;
		// }


		//var descriptionLabel = "Document Description ";
		// var temp = document.getElementById("documentDescEditBut").getAttribute("value");
		// document.getElementById("documentDescEditBut").value = descriptionLabel + temp;

		cendari.addInit(function() {
			// cendari.createEditor(500, "document-description", false, "documentDescEditBut", descriptionLabel);
			cendari.addTab(title);
			cendari.addWidgetToActiveTab("form", "noteform", "border");
			cendari.addImageViewer("panel", "scan-viewer");
		});
		
		

		$(document).ready(function(){
                    //$('#document_content').find('img').each(function(){this.src= this.src.replace('http://'+document.location.host,'').replace('documents/','')})			
			$('#scanCendari').submit(function(e) { 
			    e.preventDefault();
			    $(this).ajaxSubmit(); 
			    // return false to prevent normal browser submit and page navigation 
			    // return false;  
			})

			$('#scan-list').sortable({
				helper: function(e, elt) {
					return elt.clone(true);
				}
			});

			$('#document_toc').toc({content: "#document_content", headings: "h1,h2,h3,h4,h5,h6"});
			if($('#document_toc li').length >0){
				$('.visibilityToc').on('click',function(e){
					e.preventDefault();
					id = $(this).parent().parent().find('.toc').attr('id')
					if($(this).text().indexOf('show')>-1){
						$(this).text('hide');
						$('#'+id).show();
					}
					else{
						$(this).text('show');
						$('#'+id).hide();
					}
				})
			}
			else{
				$('#document_toc_wrapper').hide()
			}
		});

		Ext.onReady(function(){
			$('#extraButtonId').css('left',$('#versionHistoryButtonId').css('left'))
			$('#versionHistoryButtonId').hide();
			{% if user.is_authenticated%}
				$('#extraButtonId').text('Edit Mode');
				$('#extraButtonId').on('click',function(e){
					var readModeUrl = '{% url "document_edit" project_slug=project.slug  document_id=document.id %}';
					window.location.replace(readModeUrl);
				});
			{% else %}
				$('#extraButtonId').hide()
			{% endif %}
			$('#exportRdfaButtonId').on('click',function(){
				var win = window.open('{% url "rdfa_download_document" project_slug=project.slug  document_id=document.id %}','_blank');
			})
		})

	</script>
{% endblock functions %}
