{% extends "form.html" %}
{% load typogrify display %}
{% load staticfiles compress %}


{% block form_init %}
<meta name="project_id" id="project_id" content="{{ project.id }}" />


{% endblock form_init %}

{% block form_content %}

  {%if user_has_perm %}


    {% if form.errors %}
      {% for field in form %}
        {% for error in field.errors %}
          <div class="alert alert-error">
            <strong>{{ error|escape }}</strong>
            <strong>{{ field|escape }}</strong>
          </div>
        {% endfor %}
      {% endfor %}
      {% for error in form.non_field_errors %}
        <div class="alert alert-error">
          <strong>{{ error|escape }}</strong>
          <strong>{{ field|escape }}</strong>
        </div>
      {% endfor %}
    {% endif %}

    {{ form.as_p }}
    <!-- <input class="btn" type="submit" value="Save"> -->
    
    <br>
    <br>
   

  {% else %}

    <h1>Your are in project <u>{{project.name}}</u></h1>

  {%endif%}

   {% if mode == 'edit' %}
      <form class="formCendari" id="aliasSlugCendari" action="{% url "add_project_slug_view" project_id=project.id  %}" method="POST">
        <label for="slug_alias">New Alias:</label>
        <input id="id_slugalias" name="slug_alias" />
        <a id ="aliasSlugCendariSumbit" class="btn"   href="{% url "add_project_slug_view" project_id=project.id  %}"> Add</a>

        <h2> Available Slugs:</h2>
        <table style="width:100%" id='slug_alias_table'>
          <tr>
            <th><span style="font-weight:bold">Slug Alias</span></th>
            <th><span style="font-weight:bold">Project url</span></th>
          </tr>
          <tr>
            <td>{{project.slug}}</td>
            <td> <a href="{% url "project_read_view" project_slug=project.slug%}" target="_blank"> {% url "project_read_view" project_slug=project.slug%} </a> </td>
          </tr>
          {% for slug_alias in slug_aliases %}
            <tr>
              <td>{{slug_alias}}</td>
              <td> <a href="{% url "project_read_view" project_slug=slug_alias%}" target="_blank"> {% url "project_read_view" project_slug=slug_alias%} </a> </td>
            </tr>
          {% endfor %}

        </table>


       </form>
    {% endif%}
{% endblock form_content %}


{% block form_functions %}
<script>



(function ($) {

  var toastr_options = {
    "closeButton": true,
    "debug": false,
    "newestOnTop": true,
    "progressBar": false,
    "positionClass": "toast-top-center",
    "preventDuplicates": true,
    "onclick": null,
    "showDuration": "300",
    "hideDuration": "1000",
    "timeOut": "5000000000000000",
    "extendedTimeOut": "5000000000000000",
    "showEasing": "swing",
    "hideEasing": "linear",
    "showMethod": "fadeIn",
    "hideMethod": "fadeOut"
  }

  function showToastrMessage(type,message){
    toastr.clear();
    toastr[type](message);
  }

  function showErrorMessage(message){
    toastr.options.timeOut="1000";
    toastr.options.extendedTimeOut="1000";
    showToastrMessage('error',message);
  }

  function showSuccessMessage(message){
    toastr.options.timeOut="500";
    toastr.options.extendedTimeOut="1000";
    showToastrMessage('success',message);
  }


  function showWarningMessage(message){
    toastr.options.timeOut="5000";
    toastr.options.extendedTimeOut="10000";
    showToastrMessage('warning',message);
  }

  function showInfoMessage(message){
    toastr.options.timeOut="5000000000000000";
    toastr.options.extendedTimeOut="5000000000000000";
    showToastrMessage('info',message)
  }



  // custom css expression for a case-insensitive contains()
  jQuery.expr[':'].Contains = function(a,i,m){
      return (a.textContent || a.innerText || "").toUpperCase().indexOf(m[3].toUpperCase())>=0;
  };


  function listFilter(list) { // header is any element, list is an unordered list
    // create and add the filter form to the header
    var form = $("<form>").attr({"class":"filterform","action":"#"}),
        input = $("<input>").attr({"class":"filterinput","type":"text","placeholder":"Search for usernames"});
    $(form).append(input);//.appendTo(header);
    list.before($(form))
    $(input)
      .change( function () { 
        var filter = $(this).val();
        console.log('filter',filter);

        if(filter) {
          // this finds all links in a list that contain the input,
          // and hide the ones not containing the input while showing the ones that do
      		console.log('finding usernames');
          $(list).find("li:not(:Contains(" + filter + "))").slideUp();
          $(list).find("li:Contains(" + filter + ")").slideDown();

          console.log('contains filter',$(list).find("li:not(:Contains(" + filter + "))"))
          console.log('not contains filter', $(list).find("li:Contains(" + filter + ")"))

        } else {
        	$('#editors_selection').detach().appendTo('#noteform')
          	$(list).find("li").slideDown();
        }
        return false;
      })
    .keyup( function () {
        // fire the above change event after every letter
        $(this).change();
    });
  }


  //ondomready
  $(document).ready(function(){
  	console.log('Loading filter');
  	if($('#id_editors_0'))
    	listFilter($('#id_editors_0').closest('ul'));


    $('#aliasSlugCendariSumbit').on('click',function(e){
      e.preventDefault()
      $.ajax({
        // beforeSend: function (xhr) {xhr.setRequestHeader('X-CSRFToken', $('input[name="csrfmiddlewaretoken"]').val());},
        url:$('#aliasSlugCendariSumbit').attr('href'),
        type: 'POST',
        data: {project_id:{{project.id}},name:$('#id_slugalias').val(), csrfmiddlewaretoken: document.getElementsByName("csrfmiddlewaretoken")[0].value},
        success: function(data){
          console.log('data!!!')
          if (data['status'] == 'success'){
           $('#slug_alias_table').append('<tr>'+ '<td>'+$('#id_slugalias').val()+'</td>'+ '<td><a href="'+cendari_root_url+'cendari/'+$('#id_slugalias').val()+'" target="_blank"> '+cendari_root_url+'cendari/'+$('#id_slugalias').val()+' </a></td>'  +'</tr>')
           $('#id_slugalias').val('')
           showSuccessMessage('alias was added')
          }
          else{
            showErrorMessage(data['message'])
          }

        },
        error: function(XMLHttpRequest, textStatus, errorThrown) { 
            console.log("Error with status "+textStatus+":",errorThrown);
            // showErrorMessage(messages.transcript.error);
            showErrorMessage(errorThrown);
        } 
    });
    })
  })
  // $(function () {
  // 	console.log('Loading filter');
  //   listFilter($("#header"), $("#list"));
  // });
}(jQuery));






	

	cendari.addInit(function() {
		cendari.addTab("Project");
		cendari.addWidgetToActiveTab("form", "noteform", "border");
	}); 
	
	Ext.onReady(function(){
		$('#saveNoteID-btnEl').on('click',function(e){
			e.preventDefault();
			console.log($(this));
			$('#noteform').submit();
		})
	})
	
	$( document ).ready(function() {    
		
		if($('#id_slug').length){
			$('#id_name').keyup(function() {
	        	var dInput = $(this).val();
				$('#id_slug').val(dInput.replace(/[^a-zA-Z0-9-_]/g, '_'));
	
	
				if (event.which !== 0) {
	     		   console.log("Charcter was typed. It was: " + String.fromCharCode(e.which));
	    		}
	
			});
	
			$('#id_slug').keyup(function() {
	        	var dInput = $(this).val();
				$('#id_slug').val(dInput.replace(/[^a-zA-Z0-9-_]/g, '_'));
			});

		}
    if($('#id_slugalias').length){
      $('#id_slugalias').keyup(function() {
        var dInput = $(this).val();
        $('#id_slugalias').val(dInput.replace(/[^a-zA-Z0-9-_]/g, '_'));
      });
    }

	});
</script>
{% endblock form_functions %}