{% extends "form.html" %}
{% load typogrify display %}
{% load staticfiles compress %}


{% block form_init %}
<meta name="project_id" id="project_id" content="{{ project.id }}" />


{% endblock form_init %}
{% block form_content %}

	  {{ form.as_p }}
  <!-- <input class="btn" type="submit" value="Save"> -->

{% endblock form_content %}



{% block form_functions %}

<script>

	cendari.addInit(function() {
		cendari.addTab("Project");
		cendari.addWidgetToActiveTab("form", "noteform", "border");
	}); 
	// $(document).ready(function(){
	// 	$('#id_name').keypress(function(event){
	// 		$('#id_slug').val($('#id_name').val().replace(/[^a-zA-Z0-9-_]/g, '_'));
	// 	});
	// 	$('#id_slug').keypress(function(event){
	// 		$('#id_slug').val($('#id_slug').val()..replace(/[^a-zA-Z0-9-_]/g, '_'));
	// 	});
	// })
	
	Ext.onReady(function(){
		$('#saveNoteID-btnEl').on('click',function(e){
			e.preventDefault();
			$('#noteform').submit();
		})
	})
	
	$( document ).ready(function() {    
		console.log( "ready!!!!!!" );
		
		

		if($('#id_slug').length){
			$('#id_name').keyup(function() {
	        	var dInput = $(this).val();
				$('#id_slug').val(dInput.replace(/[^a-zA-Z0-9-_]/g, '_'));
	
	
				if (event.which !== 0) {
	     		   console.log("Charcter was typed. It was: " + String.fromCharCode(e.which));
	    		}
	
			});
	
			$('#id_slug').keyup(function() {
	        	var dInput = $(this).val();
				$('#id_slug').val(dInput.replace(/[^a-zA-Z0-9-_]/g, '_'));
			});

		}

	});
</script>
{% endblock form_functions %}