{% extends "centerCendari.html" %}
{% load typogrify display %}
{% load staticfiles compress %}

{% block model_fields %}

<meta name="note_id" id="note_id" content="{{ note_id }}" />


<div id="editorsDom">
 <ul class="unstyled">
  {% for version in version_list%}
    <li> <a target="_blank" href="{% url "note_version" project_slug=project.slug  note_id=note_id version_id=version.id %}" > Version updated on {{version.field_dict.last_updated | date}} </a> </li>
  {% endfor %}
</ul>

<script>

    cendari.addInit(function() { 
    	cendari.addTab("Version histoy for Note "+$("#note_id").attr('content'));
    	cendari.addWidgetToActiveTab("panel","editorsDom" ,"border");

    });
    Ext.onReady(function(){
    	$('#extraButtonId').hide()
    	$('#versionHistoryButtonId').hide();
    })

</script>

{% endblock %}
