{% extends "centerCendari.html" %}
{% load set_var %}
{% load typogrify display note_sections staticfiles compress %}

{% block css %}
	<link rel="stylesheet" type="text/css" media="all" href="{% static "iipmooviewer/css/iip.css" %}" />
	<style type="text/css">
		.toc  a{
			color: #000;
			text-decoration: underline;

		}
		.toc  li {
		    list-style:decimal;}
		.toc  ol li {
			list-style-type:lower-roman;
		}
		.toc  ol ol li {
			list-style-type:lower-latin;
		}
		.toc  ul li {
			list-style-type:lower-roman;
		}
		.toc  ul ul li {
			list-style-type:lower-latin;
		}
		.toc{
			padding-left: 2em;
		}
		.toc ul, .toc ol{
		    padding-left: 2em;
		}

		.toc  {
	    	list-style-position:inside;
	    	border: 1px solid black;
	 	}  

	 	u {
		    text-decoration: none;
		    /*border-bottom: 2px solid black;*/
		}
		u::after{
			content: "*";
		}

		#note_content ul li {
			list-style-type:circle;
		}

		#note_content ol li {
			list-style-type:decimal;
		}


		#note_content ol li {
			list-style:decimal;
		}
		#note_content ul li {
			list-style:disc;
		}
		#note_content ul ul li {
			list-style:circle;
		}
		#note_content ul, #note_content ol {
			padding-left: 2em;
		}


	</style>
{% endblock %}

{% block init %}
	<meta name="note_id" id="note_id" content="{{ note.id }}" />
	<meta name="note_name" id="note_name" content="{{ note.title }}" />
	<script type="text/javascript" src="{% static "cendari/js/jquery.toc.min.js" %}"></script>
	<!--<script type="text/javascript" src="{% static "cendari/js/toc.min.js" %}"></script>-->
{% endblock init %}


{% block model_fields %}
	<div class="form-menu-document" >
		<!-- <section id="note-details>" -->
		<ul class="tabs note">
			<li><!-- ENTITIES TAB -->
				<input type="radio" checked name="tabs" id="tab1">

				<label id='entitiesTab' for="tab1">
					<script > document.write("Entities (" + "{{ note.get_all_related_topics|length }}" + ")"); </script> 
				</label>

				<div id="tab-content1" class="tab-content  note animated fadeIn">
					<div class="form-entities" id="note-related-topics">
						{% if note %}
							{% for topic in note.get_all_related_topics %}
								<a href= {{ topic.get_absolute_url }}
								{% if 		topic.topic_node.type == "PER" %} class ="form-entities r_person"
								{% elif 	topic.topic_node.type == "ORG" %} class ="form-entities r_organization"
								{% elif 	topic.topic_node.type == "EVT" %} class ="form-entities r_event"
								{% elif 	topic.topic_node.type == "PLA" %} class ="form-entities r_place"
								{% elif 	topic.topic_node.type == "TAG" %} class ="form-entities r_thing"
								{% else 						%} class = "form-entities"
								{% endif %}
								> 
									{% if topic.topic_node.type == "EVT" %}
										{% if  topic.date%} 
											{{topic}} 
										{%else%}
											<u> {{topic}} </u>
										{%endif%}
									{% else %}
										{% if  topic.rdf%} 
											{{topic}} 
										{%else%}
											<u> {{topic}} </u>
										{%endif%}
									{% endif %}
								</a>
							{% endfor %}
							{% if not note.get_all_related_topics|length > 0 %}
								<div>
									No Entities.
								</div>
								<div>
									select the Entity & right-click to add it
								</div>
							{% endif %}

						{% endif %}
						{% if not note.id > 0 %}
							<div>
								No Entities.
							</div>
							<div>
								Save this note to add your Entities
							</div>
						{% endif %}

					</div>
				</div>
			</li>

			<li><!-- STATUS TAB -->
				<input type="radio" name="tabs" id="tab2">
				<label for="tab2">Status {% if note.status == "0" %} (Closed) {% elif note.status == "2" %} (Hibernating)  {% else %} (Open) {% endif %}</label>
				<div id="tab-content2" class="tab-content note animated fadeIn">
					<div class="form-status" id="note-status">
						<select name="status">
							<option value="open" {% if note.status == 'open' %} selected="selected" {% endif %}><span class="note-status-closed">Closed</span></option>
							<option value="closed" {% if note.status == 'closed' %} selected="selected" {% endif %}><span class="note-status-closed">Closed</option>
							<option value="hibernate" {% if note.status == 'hibernating' %} selected="selected" {% endif %}><span class="note-status-hibernating" >Hibernating</span></option>
						</select>
					</div>
				</div>
			</li>

			<li><!-- AUTHORSHIP TAB (Project, Private, Licence, Author, Last updated ) -->
				<input type="radio" name="tabs" id="tab3">
				<label for="tab3">Authorship</label>
				<div id="tab-content3" class="tab-content note animated fadeIn">
					<div style="height:50px; overflow: auto;" >
						<dl id="note-authorship" >
						<!-- class="dl-horizontal">-->
						{% if note %}
							<dt>
								Project
							</dt>
							<dd>
								{{ note.project|as_link }}
							</dd>
							<dt>
								Private
							</dt>
							<dd>
								{% if note.is_private %}Yes{% else %}No{% endif %}
							</dd>
							<dt>
								License
							</dt>
							<dd>
								<a class="license-link" href="{{ license.url }}" title="{{ license }}"> {% for symbol in license.symbols %}<i class="license-symbol">{{ symbol }}</i>{% endfor %} </a>
							</dd>
							{% with authors=note.get_all_updaters %}
								<dt>
									Author{% if authors|length > 1 %}s{% endif %}
								</dt>
								<dd>
									{% for author in authors %}
										<li>
											{{ author|as_link }}
										</li>
									{% endfor %}
								</dd>
							{% endwith %}
							<br>
							<dt>
								Last updated
							</dt>
							<dd>
								{{ note.last_updated }} (<a href="#">view history</a>)
							</dd>
						{% endif %}
						</dl>
					</div>
				</div>
			</li>
		</ul>
		<!-- </section> -->




		<div class="stop-float"></div>
		<div style="height:5px"> &nbsp;</div>

		
		{% if note %}
			<h1> {{note.title}} </h1>

			<!-- <div id="note_toc" class='toc'></div> -->
			<!-- <ul id="note_toc"></ul> -->
			<div id='note_toc_wrapper'>
				<p>Table of contents (<a class='visibilityToc' href="">hide</a>)</p>
				<ol id="note_toc" class='toc'></ol>
			</div>
			
			<div id="note_content"> 
				{{note.content|as_html}}
			</div>

		{% endif %}
		<section id="note-sections">
				{% for section in sections %}{% include section|ns_template_name %}{% endfor %}
		</section>
	</div>
{% endblock model_fields %}

{% block functions %}

	<script>
		switchtabs(3, "note");
		$("#note-title").attr("placeholder", "Insert Note Title  . . . ");
		var isReadOnly = false, title = "New Note", id = document.getElementById("note_id").getAttribute("content");

		// if (id > 0) {
		// 	var name = document.getElementById("note_name").getAttribute("content");
		// 	title = "Note " + id + ": " + name;
		// 	isReadOnly = false;
		// }

		// var descriptionLabel = "Note Description ";
		// var temp = document.getElementById("noteDescEditBut").getAttribute("value");
		// document.getElementById("noteDescEditBut").value = descriptionLabel + temp;
		cendari.addInit(function() {
			// cendari.createEditor(500, "note-description", isReadOnly, "noteDescEditBut", descriptionLabel);
			cendari.addTab(title);
			cendari.addWidgetToActiveTab("form", "noteform", "border");
		});
		{% if note %}
			// highlight associated entities in the paired vis panel
			var currentNoteEntities = "{{ note.get_all_related_topics_ids }}";
			window.postMessage({
				'messageType' : 'cendari_highlight',
				'targetWindowIds' : 'east',
				'entityIds' : currentNoteEntities,
				'highlightMode' : 1
			}, document.location.origin);
		{% endif %}


		$(document).ready(function(){
			$('#note_toc').toc({content: "#note_content", headings: "h1,h2,h3,h4,h5,h6"});
			if( $('#note_toc li').length >0)	{
				$('.visibilityToc').on('click',function(e){
					e.preventDefault();
					if($(this).text().indexOf('show')>-1){
						$(this).text('hide');
						$('#note_toc').show();
					}
					else{
						$(this).text('show');
						$('#note_toc').hide();
					}
				})
			}
			else{
				$('#note_toc_wrapper').hide()
			}
		});
		

		Ext.onReady(function(){
			$('#extraButtonId').text('Edit Mode');
			$('#extraButtonId').on('click',function(e){
				var readModeUrl = '{% url "note_view" project_slug=project.slug  note_id=note.id %}';
				window.location.replace(readModeUrl);
			});

		})

	</script>
{% endblock functions %}
