{% extends "centerCendari.html" %}
{% load set_var %}
{% load typogrify display note_sections staticfiles compress %}

{% block css %}
	<link rel="stylesheet" type="text/css" media="all" href="{% static "iipmooviewer/css/iip.css" %}" />
{% endblock %}

{% block init %}
	<meta name="note_id" id="note_id" content="{{ note.id }}" />
	<meta name="note_name" id="note_name" content="{{ note.title }}" />
{% endblock init %}

{% block model_fields %}
	<div class="form-menu-document" >
		<!-- <section id="note-details>" -->
		<ul class="tabs note">
			<li><!-- ENTITIES TAB -->
				<input type="radio" checked name="tabs" id="tab1">

				<label for="tab1">
					<script >
						document.write("Entities (" + "{{ note.get_all_related_topics|length }}" + ")");
					</script> 
				</label>

				<div id="tab-content1" class="tab-content  note animated fadeIn">
					<div class="form-entities" id="note-related-topics">
						{% if note %}
							{% for topic in note.get_all_related_topics %}
								<a href= {{ topic.get_absolute_url }}
								{% if 		topic.topic_node.type == "PER" %} class ="form-entities r_person"
								{% elif 	topic.topic_node.type == "ORG" %} class ="form-entities r_organization"
								{% elif 	topic.topic_node.type == "EVT" %} class ="form-entities r_event"
								{% elif 	topic.topic_node.type == "PLA" %} class ="form-entities r_place"
								{% elif 	topic.topic_node.type == "TAG" %} class ="form-entities r_thing"
								{% else 						%} class = "form-entities"
								{% endif %}
								> 
									{{ topic }} 
								</a>
							{% endfor %}
							{% if not note.get_all_related_topics|length > 0 %}
								<div>
									No Entities.
								</div>
								<div>
									select the Entity & right-click to add it
								</div>
							{% endif %}

						{% endif %}
						{% if not note.id > 0 %}
							<div>
								No Entities.
							</div>
							<div>
								Save this note to add your Entities
							</div>
						{% endif %}

					</div>
				</div>
			</li>

			<li><!-- STATUS TAB -->
				<input type="radio" name="tabs" id="tab2">
				<label for="tab2">Status {% if note.status == "0" %} (Closed) {% elif note.status == "2" %} (Hibernating)  {% else %} (Open) {% endif %}</label>
				<div id="tab-content2" class="tab-content note animated fadeIn">
					<div class="form-status" id="note-status">
						<select name="status">
							<option value="open" {% if note.status == 'open' %} selected="selected" {% endif %}><span class="note-status-closed">Closed</span></option>
							<option value="closed" {% if note.status == 'closed' %} selected="selected" {% endif %}><span class="note-status-closed">Closed</option>
							<option value="hibernate" {% if note.status == 'hibernating' %} selected="selected" {% endif %}><span class="note-status-hibernating" >Hibernating</span></option>
						</select>
					</div>
				</div>
			</li>

			<li><!-- AUTHORSHIP TAB (Project, Private, Licence, Author, Last updated ) -->
				<input type="radio" name="tabs" id="tab3">
				<label for="tab3">Authorship</label>
				<div id="tab-content3" class="tab-content note animated fadeIn">
					<div style="height:50px; overflow: auto;" >
						<dl id="note-authorship" >
						<!-- class="dl-horizontal">-->
						{% if note %}
							<dt>
								Project
							</dt>
							<dd>
								{{ note.project|as_link }}
							</dd>
							<dt>
								Private
							</dt>
							<dd>
								{% if note.is_private %}Yes{% else %}No{% endif %}
							</dd>
							<dt>
								License
							</dt>
							<dd>
								<a class="license-link" href="{{ license.url }}" title="{{ license }}"> {% for symbol in license.symbols %}<i class="license-symbol">{{ symbol }}</i>{% endfor %} </a>
							</dd>
							{% with authors=note.get_all_updaters %}
								<dt>
									Author{% if authors|length > 1 %}s{% endif %}
								</dt>
								<dd>
									{% for author in authors %}
										<li>
											{{ author|as_link }}
										</li>
									{% endfor %}
								</dd>
							{% endwith %}
							<br>
							<dt>
								Last updated
							</dt>
							<dd>
								{{ note.last_updated }} (<a href="#">view history</a>)
							</dd>
						{% endif %}
						</dl>
					</div>
				</div>
			</li>
		</ul>
		<!-- </section> -->




		<div class="stop-float"></div>
		<div style="height:5px"> &nbsp;</div>

		{% if note.id %}
			<form class="formCendari" id="noteCendari" action="{% url "api:api-notes-detail" project_slug=project.slug  pk=note.id %}" method="POST">  
			{% csrf_token %}
		{% else %}
			<form class="formCendari" id="noteCendari" action="{% url "api:api-notes-list" project_slug=project.slug %}" method="POST" >
			{% csrf_token %}
		{% endif %}
			<!-- <div class="form-main edit-section" > -->

			{% if not note.id %}
				<input type="hidden" name="related_topics" value="" /> 
				<input type="hidden" name="status" value="open" />
				<input type="hidden" name="is_private" value="false" />
			{% else %}
				<input type="hidden" name="related_topics" value="" />
				<input type="hidden" name="status" value="open" />
				<input type="hidden" name="is_private" value="{{note.is_private}}" />
				<input type="hidden" id = "model_id" name="id" value="{{note.id}}" />
			{% endif %}
			<div class="form-main edit-section" >
		
				<input  class="editorlabel" id="noteDescEditBut" type="button" value= {% if note.id > 0 %} "[ Read Only ]                --- click here for Edit mode" {% else %} "[ Editable ]                    --- click here for Read-Only mode" {% endif %} />
				<div data-error-target="note-title"></div>
				<!-- <label for="note-title">Note's title</label> -->
				<p>Note's title</p>
				<input type="text" id="note_title" name="title" style="height:30px;" value="{%if note%}{{note.title}}{%endif%}">
				<p>Notes's content</p>
				<div data-error-target="note-description"></div>
				<textarea id="note-description" type="text"  class="mceEditor" name="content"  >
				{% if note %} {{ note.content|as_html }} {% endif %}	
				</textarea>
				<!-- </section> -->

				<section id="note-sections">
					{% for section in sections %}{% include section|ns_template_name %}{% endfor %}
				</section>

				{% if note.id %}
					<button id="saveButton" style="visibility: hidden;" class="save-item" name="_method" value="PUT" >Save</button>
				{% else %}
					<button id="saveButton" style="visibility: hidden;" class="save-item"  method="POST" name="_method" value="POST">Save</button>
				{% endif %}
				<div id="statusMessages"></div>
			</div>

			
			
		</form>
	</div>
{% endblock model_fields %}

{% block functions %}

	<script>
		switchtabs(3, "note");
		$("#note-title").attr("placeholder", "Insert Note Title  . . . ");
		var isReadOnly = false, title = "New Note", id = document.getElementById("note_id").getAttribute("content");

		if (id > 0) {
			var name = document.getElementById("note_name").getAttribute("content");
			title = "Note " + id + ": " + name;
			isReadOnly = false;
		}

		var descriptionLabel = "Note Description ";
		var temp = document.getElementById("noteDescEditBut").getAttribute("value");
		document.getElementById("noteDescEditBut").value = descriptionLabel + temp;
		cendari.addInit(function() {
			cendari.createEditor(500, "note-description", isReadOnly, "noteDescEditBut", descriptionLabel);
			cendari.addTab(title);
			cendari.addWidgetToActiveTab("form", "noteform", "border");
		});
		{% if note %}
			// highlight associated entities in the paired vis panel
			var currentNoteEntities = "{{ note.get_all_related_topics_ids }}";
			window.postMessage({
				'messageType' : 'cendari_highlight',
				'targetWindowIds' : 'east',
				'entityIds' : currentNoteEntities,
				'highlightMode' : 1
			}, document.location.origin);
		{% endif %}

	</script>
{% endblock functions %}
