{% extends "centerCendari.html" %}
{% load set_var %}
{% load typogrify display note_sections staticfiles compress %}

{% block css %}{% endblock %}

{% block init %}
	<meta name="note_id" id="note_id" content="{{ note.id }}" />
	<meta name="note_name" id="note_name" content="{{ note.title }}" />
	<script type="text/javascript" src="{% static "cendari/js/toc.min.js" %}"></script>
{% endblock init %}

{% block model_fields %}
	<div class="form-menu-document" >
		<!-- <section id="note-details>" -->
		<ul class="tabs note">
			<li><!-- ENTITIES TAB -->
				<input type="radio" checked name="tabs" id="tab1">

				<label id='entitiesTab' for="tab1">
					<script > document.write("Entities (" + "{{ note.get_all_related_topics|length }}" + ")"); </script> 
				</label>

				<div id="tab-content1" class="tab-content  note animated fadeIn">
					<div class="form-entities" id="note-related-topics">
						{% if note %}
							{% for topic in note.get_all_related_topics %}
								<a href= {{ topic.get_absolute_url }}
								{% if 		topic.topic_node.type == "PER" %} class ="form-entities r_person"
								{% elif 	topic.topic_node.type == "ORG" %} class ="form-entities r_organization"
								{% elif 	topic.topic_node.type == "EVT" %} class ="form-entities r_event"
								{% elif 	topic.topic_node.type == "PLA" %} class ="form-entities r_place"
								{% elif 	topic.topic_node.type == "TAG" %} class ="form-entities r_thing"
								{% else 						%} class = "form-entities"
								{% endif %}
								> 
									{% if topic.topic_node.type == "EVT" %}
										{% if  topic.date%} 
											{{topic}} 
										{%else%}
											<u> {{topic}} </u>
										{%endif%}
									{% else %}
										{% if  topic.rdf%} 
											{{topic}} 
										{%else%}
											<u> {{topic}} </u>
										{%endif%}
									{% endif %}
								</a>
							{% endfor %}
							{% if not note.get_all_related_topics|length > 0 %}
								<div>
									No Entities.
								</div>
								<div>
									select the Entity & right-click to add it
								</div>
							{% endif %}

						{% endif %}
						{% if not note.id > 0 %}
							<div>No Entities.</div>
							<div>Save this note to add your Entities</div>
						{% endif %}

					</div>
				</div>
			</li>
<!-- STATUS TAB 
			<li>
				<input type="radio" name="tabs" id="tab2">
				<label for="tab2">Status {% if note.status == "0" %} (Closed) {% elif note.status == "2" %} (Hibernating)  {% else %} (Open) {% endif %}</label>
				<div id="tab-content2" class="tab-content note animated fadeIn">
					<div class="form-status" id="note-status">
						<select name="status">
							<option value="open" {% if note.status == 'open' %} selected="selected" {% endif %}><span class="note-status-closed">Closed</span></option>
							<option value="closed" {% if note.status == 'closed' %} selected="selected" {% endif %}><span class="note-status-closed">Closed</option>
							<option value="hibernate" {% if note.status == 'hibernating' %} selected="selected" {% endif %}><span class="note-status-hibernating" >Hibernating</span></option>
						</select>
					</div>
				</div>
			</li>
-->
			<li><!-- AUTHORSHIP TAB (Project, Private, Licence, Author, Last updated ) -->
				<input type="radio" name="tabs" id="tab3">
				<label for="tab3">Authorship</label>
				<div id="tab-content3" class="tab-content note animated fadeIn">
					<div style="height:50px; overflow: auto;" >
						<dl id="note-authorship" >
						<!-- class="dl-horizontal">-->
						{% if note %}
							<dt>
								Project
							</dt>
							<dd>
								{{ note.project|as_link }}
							</dd>
							<dt>
								Private
							</dt>
							<dd>
								{% if note.is_private %}Yes{% else %}No{% endif %}
							</dd>
							<dt>
								License
							</dt>
							<dd>
								<a class="license-link" href="{{ license.url }}" title="{{ license }}"> {% for symbol in license.symbols %}<i class="license-symbol">{{ symbol }}</i>{% endfor %} </a>
							</dd>
							{% with authors=note.get_all_updaters %}
								<dt>
									Author{% if authors|length > 1 %}s{% endif %}
								</dt>
								<dd>
									{% for author in authors %}
										<li>
											{{ author|as_link }}
										</li>
									{% endfor %}
								</dd>
							{% endwith %}
							<br>
							<dt>
								Last updated
							</dt>
							<dd>
								{{ note.last_updated }} <!--(<a href="#">view history</a>) -->
							</dd>
						{% endif %}
						</dl>
					</div>
				</div>
			</li>
		</ul>
		<!-- </section> -->

		<div class="stop-float"></div>
		<div style="height:5px"> &nbsp;</div>

		
{% if note %}
<div class="form-main">
<p>Title:</p>
<input readonly="readonly" type="text" id="note_title" name="title" style="height:30px;" value="{%if note%}{{note.title}}{%endif%}">
<p id='label1'>Content:</p>
<iframe  id="note_content" name="note_content" src="{%url 'rdfa_view_note' note.project.slug note.id %}" height="500" width="100%" onload="if (note_content.location.href != 'about:blank') iframe_loaded()"></iframe>
{% endif %}
<section id="note-sections">
  {% for section in sections %}{% include section|ns_template_name %}{% endfor %}
</section>
</div>
{% endblock model_fields %}

{% block functions %}
<script>
  switchtabs(3, "note");
  $("#note-title").attr("placeholder", "Insert Note Title  . . . ");
  var isReadOnly = false, title = "New Note", id = document.getElementById("note_id").getAttribute("content");

  cendari.addInit(function() {
      cendari.addTab(title);
      cendari.addWidgetToActiveTab("form", "noteform", "border");
  });
  {% if note %}
  // highlight associated entities in the paired vis panel
  var currentNoteEntities = "{{ note.get_all_related_topics_ids }}";
  window.postMessage({
      'messageType' : 'cendari_highlight',
      'targetWindowIds' : 'east',
      'entityIds' : currentNoteEntities,
      'highlightMode' : 1
  }, document.location.origin);
  {% endif %}

  function iframe_loaded(){
      var iframe = $('#note_content').contents();
      iframe.find('img').each(function(){
          this.src= this.src
              .replace('http://'+document.location.host,'')
              .replace('documents/','');
      });
      iframe.find('body').prepend('<div id="toc"></div>');
      iframe.find('#toc').toc({content: "#content",
                               container: iframe,
                               smoothScrolling: false,
                               headings: "h1,h2,h3,h4,h5,h6"});
      if (iframe.find('#toc li').length > 0) {
          iframe.find('#toc').prepend('<p>Table of contents</p>');
      }
      else {
          iframe.find('#toc').remove();
      }
  }

  Ext.onReady(function() {
      $('#extraButtonId').css('left',$('#versionHistoryButtonId').css('left'))
      $('#versionHistoryButtonId').hide();
      {% if user.is_authenticated%}
      $('#extraButtonId').text('Edit Mode');
      $('#extraButtonId').on('click',function(e){
          var readModeUrl = '{% url "note_edit" project_slug=project.slug  note_id=note.id %}';
          window.location.replace(readModeUrl);
      });
      {% else %}
      $('#extraButtonId').hide()
      {% endif %}
      $('#exportRdfaButtonId').on('click',function(){
          var win = window.open('{% url "rdfa_download_note" project_slug=project.slug  note_id=note.id  %}','_blank');
      })
      
  });

</script>
{% endblock functions %}
