<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
    {% load staticfiles compress %}
    
    <meta http-equiv="content-type" content="text/html; charset=ISO-8859-1">
  <title>Dynatree - Example</title>
  
  {% compress css %}
  <link rel="stylesheet" href="{% static "style/jquery-ui/jquery-ui-1.8.10.custom.css" %}" type="text/css"/>
  <link rel="stylesheet" type="text/css" href="{% static "dynatree/dist/skin/ui.dynatree-custom.css" %}" /> 
  
  {% endcompress %}
  <script type="text/javascript">
    function getParameterByName(name) {
        name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
        var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
        results = regex.exec(location.search);
        return results === null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
    }


    cendari_root_url = "{%url 'index_view' %}";
    cendari_js_project_slug = '{{ project_slug }}';
                       
    cendari_js_object_type = getParameterByName('object_type'); 
    cendari_js_object_id = getParameterByName('object_id');
    cendari_js_topic_type = getParameterByName('topic_type');

    console.log("NB resources.html*********** cendari_js_project_slug is "+cendari_js_project_slug);
    console.log("NB resources.html*********** cendari_js_object_type is "+cendari_js_object_type);
    console.log("NB resources.html*********** cendari_js_object_id is "+cendari_js_object_id);
    console.log("NB resources.html*********** cendari_js_topic_type is "+cendari_js_topic_type);
  </script>
  
  {% compress js %}
  <script type="text/javascript" src="{% static "function/jquery/jquery-1.8.2.min.js" %}"></script>
  <script type="text/javascript" src="{% static "dynatree/jquery/jquery-ui.custom.js" %}"></script>
  <script type="text/javascript" src="{% static "dynatree/src/jquery.dynatree.js" %}"></script>
  <script type="text/javascript" src="{% static "dynatree/jquery/jquery.cookie.js" %}"></script>
  <script type="text/javascript" src="{% static "cendari/js/resources.js" %}"></script> 
  <script type="text/javascript" src="{% static "tracing/trace_test_130529.js" %}"></script>

  {% endcompress %}
  
  <script type="text/javascript">
  $(document).ready(function(){
    cendari_js_project_slug = '{{ project_slug }}';
    console.log("reloading tree with project slug: "+cendari_js_project_slug);
    console.log('tree is :');
    console.log($('#tree'));
    console.log($('#tree').dynatree("getTree"));
    console.log($('#tree').dynatree("getTree").reload);
    $("#tree").dynatree("option", "initAjax", {
      data: {key:''},
      url: cendari_root_url+'cendari/'+cendari_js_project_slug+'/getResourcesData/',
      dataType: "jsonp",
    });

    $("#tree").dynatree("getTree").reload();
    $('#tree').dynatree("getTree").reload();
  });
  </script>


  </head>
  
  <body class="example">
    <div id="tree"></div>
  </body>
</html>
