{% extends "base.html" %}

{% block css %}
<style type="text/css">
  #about-message {
    line-height: 20px;
  }
  .test {
    margin: 1.5em 0;
  }
  h3 {
    margin-top: -4px;
  }
</style>
{% endblock %}

{% block content %}
<h3>About</h3>
<div id="about-message">
  <p>
    <a href="http://www.cendari.eu">CENDARI</a> is an acronym for the
    Collaborative European Digital Archive Infrastructure, a 4-year,
    European Commission-funded project, which aims to integrate
    digital archives and resources for medieval and World War One
    history.</p>

  <p>The aim of CENDARI is to produce a Virtual Research Environment
(or VRE) which will allow scholars to access historical resources
across institutional and national boundaries.</p>

  <p>The core of the VRE is the Note Taking Environment, along with
  the Archival Directory and Archival Research Guides, and an advanced
  search functionality that includes standard, faceted and semantic
  search. Upon completion of the project, the Note Taking Environment,
  the Archival Directory and Archive Research Guides will be
  integrated in the Virtual Research Environment.</p>

</div>

<hr />

<h3>Contact</h3>
<p>
Use the form below to submit questions or comments.
</p>
<form method="post">
  {% csrf_token %}
  {{ form }}

  <div class="test">
    {% if bad_answer %}<div class="alert alert-error">Try again</div>{% endif %}
    <img src="test/"></img> equals? <input style="margin: 0; width: 30px;" type="text" name="testanswer" />
  </div>

  <div>
    <button type="submit" class="btn">Send</button>
  </div>
</form>

{% endblock %}
